[2015-11-19 14:04] lporras opened #1 "Native Script 3 de diciembre 2015 - via Hangout"
-[NativeScript](http://www.telerik.com/nativescript) es un framework Open Source que permite usar JavaScript para crear aplicaciones móviles nativas que utilizan plataformas específicas y llamadas nativas a la API. Es compatible con iOS, Android, y pronto de Windows Universal. En esta charla, aprenderás cómo construir una aplicación móvil nativa con sólo un poco de JavaScript y XML.

charlista:

[

[2015-11-23 14:55] Xabadu commented on #1
Confirmada.

[2015-12-08 00:24] carlosrojaso opened #2 "Propuesta de Charla"
Nombre del charlista: Sebastian Gomez

Contacto: twitter.com/sebasagar

Nombre de la charla: Creación de una aplicación tipo reddit en Angular 2.0.

Descripción de la charla: Mostraremos el funcionamiento de una aplicación tipo reddit usando web components y algunos conceptos de Angular 2.0

Sebastian Gomez
Magister en ingeniería de sistemas e informática.
Desarrollador Web y Móvil desde 2008
Apas

[2015-12-09 16:16] Xabadu commented on #2
Hola @carlosrojaso

Buenísima. Gracias por postular una charla.

¿Será presencial o remota?

Recuerden que deben grabar su pantalla para que después podamos compartir el video junto con la presentación. Si necesitan ayuda con esto, no dudes en avisarnos.

[2015-12-09 17:30] carlosrojaso commented on #2
Presencial :)
ᐧ

Un Abrazo / Kind Regards / Atenciosamente,

Ing. Carlos A. Rojas.
Tel: (+1) 5104176510
Tel: (+57) 3162914133
@carlosrojas_o

2015-12-09 13:16 GMT-03:00 Fernando Larrañaga notifications@github.com:

[2015-12-14 20:38] Xabadu commented on #2
Confirmada.

Mantendremos el issue abierto por si alguien quiere aportar/preguntar algo.

Saludos!

[2015-12-15 14:09] jpizarrom opened #3 "Event-driven Code with Node.js in AWS Lambda"
Nombre del charlista: Juan Pizarro

Contacto: twitter.com/jpizarrom

Nombre de la charla:  Event-driven Code with Node.js in AWS Lambda

Descripción de la charla: Mostraré una implementación de notificaciones de nuevas licitaciones usando datos de la api de mercado publico con AWS Lambda + Amazon DynamoDB + Amazon Kinesis + Amazon SNS

Lead Software Engineer @ admetricks.com

[2015-12-15 15:46] fforres commented on #3
Se ve genial @jpizarrom !

Sería cool enfocarla también a los problemas que tuviste y como los solucionaste, más que solo código :)

Solemos subir las presentaciones a internet, para que no muestres nada que sea información sensible :+1:

Para cuanto tiempo tienes considerada la presentación?

[2015-12-15 17:58] jpizarrom commented on #3
20-25min

[2015-12-19 17:24] fforres commented on #3
Awesome! :+1:

[2016-01-04 12:33] luchosrock commented on #3
:+1:  :smile:

[2016-01-04 13:44] jpizarrom commented on #3
@fforres me agendaron una reunion el jueves en el horario de meetup, por lo que no podré asistir, disculpen

[2016-01-04 18:23] Xabadu commented on #3
Ok. Gracias por avisar.

[2016-01-06 19:09] DMasterIO commented on #3
@fforres @Xabadu si se les baja alguien o necesitan a alguien, puedo dar una lighting similar a esta, contexto totalmente diferente pero tecnologías similares, una galería de imágenes con AWS Lambda + AWS S3 + Firebase + un poco de Angular y el sitio montado en githubpages, ahorrándose el backend :P

[2016-01-07 17:54] fforres commented on #3
Buenisima :D @DMaster69
Me gusta bastante, no han/has pensado hacer un tutorial/workshop?
:+1:
Podríamos abrir otro issue para esto si

[2016-01-12 20:27] DMasterIO commented on #3
@fforres acabo de ver la respuesta, ya no alcanzo a preparar nada, pero abriré otro issue para el próximo meetup :+1:

[2016-01-21 01:20] rcamposp opened #4 "Charla Ionic + Firebase: "De la idea al prototipo en un día""
A pesar que llevo algún tiempo suscrito a la comunidad, no he tomado la iniciativa de participar en los meetups. Finalmente, este año decidí que me involucraría de forma más activa con las distintas comunidades de desarrolladores en Chile y me gustaría compartir un poco la experiencia de mi última incursión.

En mi continua búsqueda de un stack que permitiera prototipar una idea de forma rápida, f

[2016-01-21 01:36] Xabadu commented on #4
Hola @rcamposp. Buenísima! Más que bienvenido entonces.

Lo importante es compartir conocimiento, así que desde ya te agradecemos la iniciativa de participar.

El próximo Meetup es el Jueves 4 de Febrero, así que estarías confirmado para abrir ese día. Los eventos los hacemos en las oficinas de Groupon LatAm (Avda. Vitacura 2771, Piso 9) desde las 18:30 a las 21 hrs. Hay 2 charlas o keynotes de 30

[2016-01-21 03:35] DMasterIO opened #5 ""Ahorrándose" el backend"
Nombre del charlista: César Encina León

Contacto: twitter.com/dmaster69

Nombre de la charla: Ahorrándose el backend

Descripción de la charla: implementación de una [galería de imágenes](http://ivdevs.com/#gallery) dinámica con github pages + AWS Lambda + Firebase + AWS S3 y un poquito de AngularJS :open_mouth:

Software Engineer @ autofact.cl

[2016-01-21 13:03] rcamposp commented on #4
Perfecto. Necesitarían que les envíe cómo sería la presentación con anticipación? Tengo pensado hacerlo estilo programa de cocina en el que voy mostrando cada uno de los pasos pero para respetar el formato de tiempo, tendré una versión "lista" de cada uno de los pasos y así avanzar más rápidamente.

Al final tendré un prototipo funcionando (que obviamente tendré listo con anticipación) y que todos

[2016-01-21 13:15] Xabadu commented on #4
Súper, esa es buena idea. En el meetup pasado hubo una presentación similar (con Angular 2), en el cual tenían los pasos separados por branches, lo que le dio buen ritmo a la charla.

Sobre la presentación en si, no es necesario, pero puedes hacerlo si quieres que te demos una opinión antes de presentar ;). Lo único a tener presente es que no haya nada que pase a llevar el Código de Conducta del e

[2016-01-21 13:16] Xabadu commented on #5
Súper!, confirmamos tu charla entonces para el meetup del Jueves 4 de Febrero. Recuerda que el material debe estar disponible para que lo podamos subir a este repo posteriormente, por lo que no debe incluir información confidencial ni sensible.

¿Algo que necesites de nuestra parte para ayudar con tu presentación?

Saludos!

[2016-01-21 13:25] rcamposp commented on #5
Hola @DMaster69. Yo también utilizaría Firebase en mi charla si vas al issue #4 podrás ver un poco más a detalle lo que tengo pensado hacer.

Yo hablaré por encima de Firebase y no entraré mucho en el detalle. Al final mi mensaje es: "puedes hacer un prototipo funcional y escalable rápidamente usando este stack de tecnologías". Pero creo que sería bueno no repetirnos. @Xabadu y @DMaster69 Cómo lo

[2016-01-21 17:16] Xabadu commented on #5
Buen punto @rcamposp. En teoría no debiesen toparse mucho, ya que ambos usan Firebase como parte del stack y no el actor principal. @DMaster69 debiese darnos más detalles ahí.

Saludos!

[2016-01-21 20:17] fforres commented on #5
No conozco mucho de como funciona, o si es muy poco JS, pero darle más enfoque a lambda que a firebase podría funcionar @DMaster69 ?

Por otro lado, podríamos conseguir una charla con otro framework de BaaS/DaaS y mover una de las keynotes

[2016-01-22 04:12] DMasterIO commented on #5
Sorry la demora ( Full pega hoy :P ), básicamente pensaba hacer lo que dice @fforres enfocarme un poco más en como funciona lambda y básicamente nombrar firebase y angular solo nombrarlos por encima para no repetir lo que dirá  @rcamposp, al igual que githubpages, además lo mi presentación la tenia pensada más como un lighting de 10 minutos aprox. por lo cual tampoco dará como para algo más profun

[2016-01-24 01:48] fforres opened #6 "Contenido Charla Estanislao, ELK STACK"
[ELK & Visualizaciones Custom.pdf](https://github.com/JavascriptChile/Meetups/files/102110/ELK.Visualizaciones.Custom.pdf)

[2016-01-24 01:48] fforres commented on #6
[ELK & Visualizaciones Custom.pdf](https://github.com/JavascriptChile/Meetups/files/102111/ELK.Visualizaciones.Custom.pdf)

[2016-01-24 01:50] fforres commented on #6
https://drive.google.com/file/d/0B0-c8vrue2QqY2kzZ3V0VVVRaDBvVlppTDRKdDBFOWpXN2dJ/view?usp=sharing

[2016-01-24 01:51] fforres commented on #6
Cerrando por que subimos el contenido ;)

[2016-01-31 13:54] fforres commented on #4
Como estamos para la proxima semana? @rcamposp :)

[2016-01-31 21:59] rcamposp commented on #4
Tengo la presentación lista y ahora estoy trabajando en los ejemplos. Así que tendré todo listo!

[2016-02-01 00:46] fforres commented on #4
Osom! @rcamposp  :)

[2016-02-03 23:50] rcamposp commented on #4
A qué horas es bueno que llegue allá? Asumo que debería llegar un poco antes.

[2016-02-04 00:28] Xabadu commented on #4
6:30 está bien @rcamposp. Generalmente los primeros 15-30 mins son para hacer networking y recibir a la gente, así que ahí preparamos todo.

Saludos!

[2016-02-04 00:29] rcamposp commented on #4
Buenísimo. Gracias @Xabadu.

Nos vemos mañana!

[2016-02-04 04:31] fforres commented on #5
Como vamos pa mañana @DMaster69  :+1:

[2016-02-04 12:03] DMasterIO commented on #5
Todo bien @fforres, necesitas que te envíe los slides antes o algo por el estilo?

[2016-02-04 13:02] fforres commented on #5
Nah, si vas a mostrar código, sería genial grabar tu pantalla :-) :heart:
No es muy complejo o si? :smiley_cat:

[2016-02-04 13:03] fforres commented on #4
Ultima consulta @rcamposp
Si vas a mostrar código, sería genial grabar tu pantalla para subir el video.
No es muy complicado de hacer o si? :smiley_cat:

[2016-02-04 13:10] rcamposp commented on #4
No. Yo lo grabo ;)
On Feb 4, 2016 10:03 AM, "Felipe Torres (fforres)" notifications@github.com
wrote:

[2016-02-04 13:14] DMasterIO commented on #5
@fforres  Bueno siempre lo tuve pensado como una lighting y he estado alargándola para cubrir la keynote :P ... algo así como codear en vivo no lo haré, pero si explicaré código que esta funcionando y tengo los repos en github. si aún así necesitas que grabe confírmame y bajo algún programilla luego

[2016-02-04 14:09] fforres commented on #5
@DMaster69 Osom! Confirmado entonces! :+1:

[2016-02-04 14:09] fforres commented on #4
@rcamposp un crá :+1:

[2016-02-05 00:36] DMasterIO commented on #5
@fforres  @Xabadu Link de las slides => http://slides.com/cesarencinaleon/ahorrandose-el-backend/

[2016-02-05 01:18] Xabadu commented on #5
Buenísima @DMaster69! ¿Pudiste grabar tu pantalla también?

Saludos!

[2016-02-05 01:18] Xabadu commented on #4
@rcamposp nos compartes tu presentación?

Saludos!

[2016-02-05 01:27] rcamposp commented on #4
http://slides.com/rcamposp/deck-1

Gracias @Xabadu y @fforres por la oportunidad.

Seguimos en contacto!

[2016-02-05 01:29] Xabadu commented on #4
Buenísima!, Gracias a ti por compartir la charla. Estuvo buenísima.

Lo que necesites, no dudes en avisarnos. Un abrazo!

[2016-02-05 14:51] nriesco opened #7 "Aplicar agilidad en tu empresa: Tests unitarios con Mocha"
Actualmente trabajo con una serie de librerías que son implementadas usando tests y que luego se transforman en un módulo en npmjs.

Esto permite trabajar en forma segura, aplicando BDD/TDD con automatización a un 100% Por otra parte permite reutilizar fácilmente las librerías y tener un control absoluto de sus versiones.

[2016-02-05 14:57] Xabadu commented on #7
Hola @nriesco, buenísima! Es un tremendo tema :D

¿Algo en lo que necesites ayuda de nuestra parte?

Sobre la charla en si, aparte de lo que sale en el Readme, solo recordar que después del Meetup lo ideal es compartir la presentación, por lo que asegúrate de que no tenga información sensible o confidencial.

Adicionalmente, si puedes grabar tu pantalla, sería genial, así preparamos videos de tu c

[2016-02-07 13:32] nriesco commented on #7
@Xabadu La idea es mostrar una forma de trabajo que permite ocupar los tests como una ayuda real. He intentado hacer TDD mil veces antes sin éxito pero al utilizar las herramientas correctas todo fluye realmente.

La idea es mostrar lo siguiente:
1. como funciona lo básico de npm (npm install básicamente)
2. como ocupar ese módulo
3. como publicarlo, modificarlo, todo con tests

Todo ese ciclo se

[2016-02-07 18:51] fforres opened #8 "Logo!"
Jugando con photoshop hoy PM

No soy un cra del diseño, asi que tengo los PSD por si alguien quiere jugar :smile:

Opiniones @Xabadu @jorgevenegas @comunacho

![jscl_logo_1](https://cloud.githubusercontent.com/assets/952992/12874423/79fafe2a-cdb2-11e5-9e99-d7f925635fa5.png)
![jscl_logo_2](https://cloud.githubusercontent.com/assets/952992/12874422/79f959a8-cdb2-11e5-9870-9c1cb0108b54.png)

[2016-02-10 21:15] p1nox opened #9 "A complete distributed relay system in JS"
In today's social networking age, we often spend time posting insignificant life updates. But other times, emergency situations arise – times when you really need to get your message across. In emergencies, however, we face obstacles such as low connectivity, blocked networks, no mobile data plans, or not having a smartphone at all. A solution to this problem is a service/platform that allows user

[2016-02-11 13:32] Xabadu commented on #9
Awesome @p1nox, thanks! Looking forward to hear this talk.

This is now confirmed for our next meetup (March, 3rd). Do you need anything from us for your presentation?

[2016-02-12 20:43] p1nox commented on #9
Nothing special @Xabadu, just a projector and be able to show my slides ;).

[2016-02-16 02:08] fforres opened #10 "Resources for speakers"
## Recording Screen

Windows
- [x] [CamStudio](https://sourceforge.net/projects/camstudio/)

Mac
- [x] [QuickTime](http://www.apple.com/quicktime/download/)

Linux
- [ ] Nothing yet

[2016-02-28 22:26] nriesco commented on #7
@Xabadu Estimado, lamentablemente mi viaje no resultó por lo que sí estaré disponible para el meetup. Confirmado para este jueves.

Como te comentaba anteriormente solamente necesito conectar mi computador y si necesito internet me cuelgo de mi teléfono o de wifi si hay disponible.

Finalmente confirmar si será en Groupon nuevamente y la duración que puede tener.
Saludos

[2016-02-29 15:23] fforres commented on #7
Hey @nriesco !

Antes que nada, gracias por tu disposición, el tema se lee genial :smile:

Estamos intentando mover el Meetup para la siguiente semana, el Jueves 10 de Marzo, ¿Te complica mucho?

Saludos!

[2016-02-29 16:05] nriesco commented on #7
No hay problema eso sí tendría que presentar segundo por la hora.
Slds
Sent from my iPhone

[2016-02-29 17:38] fforres commented on #7
Eres el mejor @nriesco  :+1:
Mandaremos el update ahora mismo.

[2016-03-01 18:32] betacar opened #11 "Dynamic client-side PDF generation"
I want to talk about uBiome's use case of dynamic client-side PDF generation (our in-house reports microservice): reasons, approach taken, tools, challenges, pros and cons, and benefits for stakeholders.

The resources needed would be a video-beam or projector where I can show the slides, and internet connection.

[2016-03-01 21:34] fforres commented on #11
Hey @betacar!
How about next month? :smile_cat:

We already have our 2 keynote speakers for this Meetup, but we'd love to schedule for the next one.
(We are looking for lightning talks though)

[2016-03-01 22:29] betacar commented on #11
@fforres I believe this can fit as a lighting talk.

[2016-03-04 02:41] Xabadu commented on #11
@betacar awesome!, let's do it then. Do you need anything from us?

[2016-03-04 05:51] fforres commented on #11
Awesome!
Lightning next week then :+1:

[2016-03-04 19:13] betacar commented on #11
@fforres @Xabadu Lighting talk will be!

How much time should be? I'll only need a projector.

Maybe a Jet, and a Llama, and a Jet for my Llama. But that's optional. :P

[2016-03-08 00:41] Xabadu commented on #11
One Llama on the way! See you thursday!

[2016-03-11 14:17] p1nox commented on #9
Hey guys! Here you can find my presentation from yesterday's meetup: https://speakerdeck.com/p1nox/a-complete-distributed-relay-system-in-js

And congrats, as usual organisation was awesome :feelsgood: :+1:.

[2016-04-03 16:07] jpizarrom commented on #3
Hola, puedo hacer esta charla el jueves si aún quedan cupos.

Saludos

[2016-04-03 16:38] Xabadu commented on #3
Hola @jpizarrom, buenísima! Nos queda un cupo abierto para este Jueves, así que felices de tener la charla ahí.

¿Necesitas algo de nuestra parte?

Saludos!

[2016-04-03 20:12] Xabadu commented on #11
@betacar can you provide us a link to your slides so we can add them to the repo please? Thanks!

[2016-04-03 20:14] Xabadu commented on #7
@nriesco tienes tus slides subidos a algún lado? De ser así, nos envías el link para agregarlos al repo por favor? Gracias!

[2016-04-03 21:57] nriesco commented on #7
Estimado, lo prometido..

Proyecto (incluye una aplicación que utiliza la librería):
    https://github.com/nriesco/mocha-unit-test https://github.com/nriesco/mocha-unit-test
Presentación:
    https://www.dropbox.com/s/pk8bxh1ywtdmos8/20160310%20Presentaci%C3%B3n.zip?dl=0 https://www.dropbox.com/s/33svmx82m5ztty7/presentaci%C3%B3n%20mocha.zip?dl=0
Video:
    https://www.dropbox.com/s/3s3kohyoqrcqi

[2016-04-07 04:42] Xabadu commented on #7
Gracias!

[2016-04-20 20:05] camilochs opened #12 "Introducción a ZeroMQ con Node.js / Keynote"
Nombre del charlista: Camilo Chacón Sartori

Contacto: www.camilochacon.com

Nombre de la charla: Introducción a ZeroMQ con Node.js: Para construir sistemas distribuidos de mensajería.

Descripción de la charla: Primero responderemos que es ZeroMQ(Zero em Queue), para que se utiliza y como podemos integrarlo con Node.js. ZeroMQ nos permite crear fácilmente patrones de arquitectura para nuestras ap

[2016-04-20 20:37] Xabadu commented on #12
Hola @camilochs. Buenísima, quedas confirmado para el próximo Meetup.

Recuerda que la charla tiene un máximo de 20 mins y que será grabada, así como los slides subidos a este repositorio, por lo que debes evitar incluir información sensible que no pueda ser compartida.

¿Necesitas algo de nuestra parte?

Saludos!

[2016-04-20 23:07] camilochs commented on #12
Hola!, por ahora no. Es la primera vez que iré por lo tanto estoy motivado :)

[2016-04-21 23:17] Xabadu commented on #12
Buenísima. Si necesitas algo, no dudes en avisarnos.

Saludos!

[2016-04-22 17:58] fforres commented on #12
Genial @camilochs, y felicitaciones!

Solo una pequeña consulta.
Algún chance de que grabes tu pantalla durante la presentación?

(Puedes usar camstudio si usas windows o quicktime si usas mac.
https://github.com/JavascriptChile/Meetups/issues/10)

Si necesitas cualquier cosa de nosotros, no dudes en consultarnos.
Quedamos al habla!

[2016-04-22 20:05] camilochs commented on #12
Si claro, aveces debo grabar con quicktime :)
Saludos

[2016-04-30 16:19] Xabadu commented on #12
Hola @camilochs. Haremos un cambio de venue para este evento, será en las oficinas de Mercado Libre (Apoquindo 4820, Torre 2, Piso 21, Las Condes). Disculpa por el aviso tan encima. Avísanos si te complica en algo.

Saludos!

[2016-04-30 16:36] camilochs commented on #12
@Xabadu  Hola, no te preocupes :), de hecho ya había visto el cambio de lugar del evento 👍
Saludos!

[2016-05-06 17:17] Xabadu commented on #12
Gracias por la charla @camilochs. Buen material, lo subiremos pronto.

Saludos!

[2016-06-12 05:04] alexberrocal opened #13 "Propuesta de Charla"
Nombre del charlista: Jorge Garcés

Contacto: https://www.facebook.com/garcescarrasco

Nombre de la charla: Creación de Bots para Messenger Facebook y Telegram

Descripción de la charla: Se explicará como crear bots en node js para Facebook messenger y Telegram. Ejemplos buscar indicadores Chile en Facebook (https://www.facebook.com/indicadoresChile) y en Telegram IndicadoresChile

[2016-06-16 17:14] fforres commented on #13
Hola @alexberrocal
Suena genial la charla!

Quieres hacer algo como un workshop? o solamente una charla?

Aprovecho de contarte, las charlas son de 25 minutos +- (Con un tiempo de preguntas al final)

[2016-06-16 19:17] alexberrocal commented on #13
Hola  @fforres

Seria una charla pero mostraremos una demo de como crear un bot para ambas plataformas desde 0.
Si! trataremos de acotarlas a 25 minutos.
Gracias!

Saludos

[2016-06-16 19:47] lporras commented on #13
Hola @alexberrocal

Estarías dispuesto para dar tu charla en el próximo [meetup](http://www.meetup.com/Javascript-Chile/events/231001805/) ?

saludos,

Luis Porras

[2016-06-16 19:49] lporras commented on #13
Hola @alexberrocal

Estarías dispuesto a realizar la charla para el próximo [meetup](http://www.meetup.com/Javascript-Chile/events/231001805/)?

Estamos programándolo para el 7 de Julio como fecha tentativa.  Te sirve esa fecha?

Saludos

[2016-06-16 20:25] alexberrocal commented on #13
Hola @lporras

Si, puedo prensentar en el próximo meetup.

Saludos

[2016-06-17 02:21] fforres commented on #13
Nice!
Entonces, @alexberrocal solo para confirmar... solo charla, no?

Btw, te molesta que grabemos tu presentación?

[2016-06-17 04:12] alexberrocal commented on #13
si, solo charla
Ningún problema de la grabación.
Entonces seria para el 7 de Julio?

[2016-06-29 21:55] lporras commented on #13
Hola @alexberrocal te vamos a agregar a la descripción del meetup, será el 7 de Julio en las oficinas de Mercado Libre, puedes ver la info acá: [meetup](http://www.meetup.com/Javascript-Chile/events/231001805/)

Nos vemos allá!

[2016-06-29 22:04] alexberrocal commented on #13
Hola @lporras
Perfecto,
gracias nos vemos ese día.
Saludos

[2016-07-05 13:55] tomascharad opened #14 "Propuesta de Charla"
Nombre del charlista: Tomás Charad

Contacto: https://github.com/tomascharad/

Nombre de la charla: Model environment, cómo establecer relaciones en el frontend.

Descripción de la charla: Explica como hacer funcionar relaciones en el frontend cuando usamos api's normalizadas.

[2016-07-05 17:58] lporras commented on #14
Hola @tomascharad,

Muchas gracias por postular para una charla, suena muy interesante tu tema, me tomé la libertad de buscar sobre model environment y me di cuenta que es el nombre de una librería en Node.js de tu autoría, impresionante!

Consulta, de cúanto tiempo puede ser tu charla? 5 - 10 - 15 min?

Por otro lado, para el meetup de Julio ya tenemos a los charlistas, entonces tendría que ser p

[2016-07-05 18:16] tomascharad commented on #14
Hola @lporras,

No tendría problema de hacerlo en Agosto. Cuál sería la fecha para agendarlo?
Esta va a ser la primera vez que presente un trabajo propio... Cuál es el tiempo máximo para la presentación?
Muchas gracias.

[2016-07-06 03:41] tomascharad commented on #14
Hola @lporras,

Acabo de actualizar el readme del proyecto. Ha habido harta gente interesada en la comunidad de redux, creo que alguien quiere incluso hacer una mención del proyecto.

Dejo acá mi conversación con él.

tomascharad-Today at 11:37 PM
Hi guys
I'm working on a project that is meant to recreate relationships on the client side using normalized api's
https://www.npmjs.com/package/model-e

[2016-07-06 22:02] lporras commented on #14
Hola @tomascharad,

El próximo meetup será el 4 de Agosto, como fecha tentativa, ya que procuramos realizarlo los primeros jueves de cada mes, y en el mismo venue, el cual es el HQ de Mercado Libre Chile.

Y respecto a la duración de tu charla, yo opino que podrías hacerla como una charla corta de 5min, donde presentes el caso de uso de tu librería, los motivos que te llevaron a crearla y un peque

[2016-07-09 15:15] elsilentforce opened #15 "Propuesta de Charla Webpack"
Saludos!
Quisiera proponer una charla sobre Webpack, la idea es darlo a conocer para los que aún no lo utilizan y ayudar un poco a los que han sufrido configurandolo.

La idea es explicar en 15 minutos de qué se trata, generando un pequeño ambiente de desarrollo para aplicaciones con React.

Eso!

Quedo atento a sus comentarios (:

[2016-07-10 21:02] pamo commented on #15
Estuviera bueno un taller, no? Quizás ir por unos pasos sobre como convertir una configuración de Grunt/Gulp a Webpack. Como se transforma ES6, CSS, etc.

[2016-07-10 21:17] elsilentforce commented on #15
Saludos @pamo!
Si, también podría ser un taller cortito de cómo configurar webpack para generar un dev environment.
Si me lo permiten los organizadores no tendría problemas en hacerlo.

[2016-07-13 17:01] fforres commented on #15
@elsilentforce
Me suena genial el tema, bastante interesante, mucha gente (Sorry la demora en contestar)

Tienes pensado algun tiempo o formato para la charla? 5 - 10 - 20 min?

[2016-07-13 17:04] lporras commented on #15
@elsilentforce gracias por tu propuesta, nos interesa mucho el tema, @fforres Patricio indicó que su charla sería de 15 minutos.

Te confirmamos que estás seleccionado para el meetup de Agosto, tenemos como fecha tentativa el 4 de Agosto en las oficinas de Mercado Libre.  Te estaremos informando.

saludos!

[2016-07-13 17:05] fforres commented on #15
Me gustó la idea @pamo
Eso daría para un taller con bastante pelea eso si, `Grunt/Gulp vs Webpack` últimamemente es el `tab vs spaces` de los building tools 😁

Podríamos organizar algo off-meetup, para hacer ese taller, alguien se la juega con darlo?

[2016-07-13 17:06] fforres commented on #15
Burp... brain fart right there.

Genial, se imprime entonces!

Te molesta si grabamos el meetup @elsilentforce ?

[2016-07-13 17:09] elsilentforce commented on #15
@lporras Perfecto! Prepararé material para ése día.

@fforres No me molesta, la idea es que menos gente sufra tratando de utilizar WebPack (:

[2016-07-13 17:09] fforres commented on #15
Awesome @elsilentforce :)

[2016-07-13 21:58] tomascharad commented on #14
Hola @lporras ,

Ok, gracias por tus recomendaciones.
Podría mi charla durar un poco más? Lo que pasa es que quiero darle una vuelta un poco a todo el concepto de api's normalizadas y porque me parece bueno implementarlas.
Hay bastantes cosas que podría hablar sobre esto, no solo en la libraría en si misma.

[2016-07-14 14:58] lporras commented on #14
@tomascharad si claro, te parece entonces 10 minutos?

[2016-07-14 15:26] tomascharad commented on #14
Perfecto @lporras, muchas gracias.
Una pregunta, la presentación es en español o inglés?
Estaba pensando que si puede ser en inglés podría poner esta presentación como parte de la documentación de la librería.

[2016-07-14 18:03] lporras commented on #14
@tomascharad te refieres a los slides cierto? pues no le veo problema a que estén en inglés, así gente que habla inglés puede entender algo tu charla aún cuando no te entiendan el español.

[2016-07-15 22:28] Xabadu opened #16 "Propuesta de Charla: Desarrollo de Videojuegos con React Native"
Nombre del charlista: Fernando Larrañaga

Contacto: https://github.com/xabadu/

Nombre de la charla: Desarrollo de Videojuegos con React Native.

Descripción de la charla: Dar a conocer porque React Native, en base a sus características claves, se puede perfilar como una plataforma atractiva para el desarrollo de videojuegos móviles, tanto por su ecosistema de apoyo actual como por lo que viene a

[2016-07-18 17:14] lporras commented on #16
Muchas gracias @Xabadu por la propuesta, suena muy interesante el tema, pregunta: cúanto tiempo duraría tu charla? 5min - 10min - 15min?, lo otro, estás disponible para el 4 de Agosto?

saludos!

[2016-07-31 01:35] pankas87 opened #17 "Propuesta de Lightning Talk"
Nombre del Charlista: Leonardo Graterol
Contacto: leonardo@marketrealist.com / 9 87677476
Nombre de la charla: Propuesta laboral Market Realist
Descripción de la Charla: Lightning talk mostrando la oferta laboral de Market Realist, empresa basada en NYC, que está buscando un desarrollador remoto en Santiago

[2016-08-01 15:11] lporras commented on #17
Hola Leonardo,

Muchas gracias por postular a una lightning Talk, te anotaremos en el track,
saludos!

Luis Porras

[2016-08-04 20:23] tomascharad commented on #14
Les dejo a todos la referencia para las diapos de la presentación: https://goo.gl/2McFJT

[2016-08-24 17:56] csepulveda opened #18 "Keynote: 4 años desarrollando NodeJS."
Queremos contar la experiencia de desarrollar un gran proyecto utilizando NodeJS, siendo nuestro primer Commit para este proyecto en Septiembre de 2012, comenzando con node 0.8 y express 2.5. Actualmente tenemos más de 9mil commits en este proyecto en particular, siendo el 79% de nuestro proyecto CoffeeScript y 9% javascript.

Este proyecto en particular es el backend de todo el contenido de VOD y

[2016-08-25 16:35] hrefcl opened #19 "quiero asistir"
Quiero asistir.

[2016-08-25 16:55] Xabadu commented on #19
Hola @hrefcl, debes inscribirte en este link:

https://www.meetup.com/es-ES/Javascript-Chile/events/233061026/

Saludos!

[2016-08-30 18:21] fforres commented on #18
Hola @csepulveda !!!
Se lee genial la charla, vamos a actualizar el sitio del meetup ahora :)

Las keynotes están pensadas para 20/30 minutos + preguntas aparte. Saludos!

[2016-09-07 02:33] jacobparra opened #20 "Propuesta Lightning Talks: Variables de entorno en AngularJS"
Nombre del charlista: Jacob Parra

Contacto: https://github.com/jacobparra/

Nombre de la charla: Variables de entorno en AngularJS.

Descripción de la charla: Como manejar las variables de configuración de una webapp en AngularJS y mantenerlas separadas del código fuente.

[2016-09-29 15:03] jacobparra commented on #20
Hola! Es para saber si habrá espacio para el próximo meetup.

/cc @Xabadu @fforres

[2016-09-29 15:06] fforres commented on #20
Hola @jacobparra!
Por mi me parece genial, te agregamos al correo de update del meetup entonces!

[2016-09-29 19:13] Xabadu commented on #16
Cerraré por ahora, because life and reasons, pero reabriré más adelante.

[2016-10-11 14:24] JonDotsoy commented on #8
Me gusta el primero 👍.

[2016-10-11 15:31] fforres commented on #8
Si :D Tenemos que darle más contraste si, hicimos un batch y no se nota mucho la forma de chile en el sticker.
@JonDotsoy

[2016-10-12 02:43] rbrto opened #21 "Propuesta charla react es6 webpack"
Hola a todos me gustaría realizar una charla sobre react usando el nuevo estándar de JavaScript, las nuevas características y optimización de código usando es6

[2016-10-18 20:37] JonDotsoy opened #22 "(🔑📝) Keynote: Iniciando la vida con Loopback."
En esta keynote, poder hablar un poco como usar [loopback](https://loopback.io/) los primeros días no fallar en el intento ⚰.
- Entendiendo su  estructura.
- Entendiendo la herramienta de strongloop.
- Cómo usar loopback en producción.

[2016-11-04 13:54] tomascharad opened #23 "Progressive web apps"
Hola,

Me gustaría poder compartir mi experiencia con esta tecnología.
En concreto realizamos un proyecto para CONAF usando PWAs y me gustaría hablar un poco sobre esto.
Creo que es un tema bien interesante y tengo harto para compartir, sobre todo la integración con Webpack, react, etc...
Un abrazo.

[2016-11-04 14:01] Xabadu commented on #23
Hola @tomascharad,

Perfecto! Suena bien. Nos queda un cupo libre de charlas para la próxima semana. ¿Te sumamos ahí?

Saludos!

[2016-11-04 14:02] Xabadu commented on #22
Hola @JonDotsoy, me parece excelente. ¿Te animas a hacerla en el meetup de la próxima semana?

Saludos!

[2016-11-04 14:29] tomascharad commented on #23
Hola @Xabadu ,

Justo este miércoles tengo visita a terreno fuera de Santiago, pero feliz de dejarlo para el próximo mes! Si llegan a cambiar el día al Jueves o Viernes podría sin ningún problema.
Un abrazo!

[2016-11-04 14:33] JonDotsoy commented on #22
😄 : Of course! No hay problema.

[2016-11-04 15:22] Xabadu commented on #22
Excelente! Quedaste confirmado entonces. Acá está la info del evento: https://www.meetup.com/es-ES/Javascript-Chile/events/233102729/

Si tienes dudas o necesitas algo de parte de nosotros, no dudes en avisarnos.

[2016-11-05 17:27] Xabadu commented on #23
@tomascharad si, te dejamos confirmado para Diciembre. El venue está medio complicado para otro día este mes, así que tiene que ser el miércoles.

Coordinamos nuevamente cerca de la fecha. Gracias por sumarte!

[2016-11-07 14:47] fforres commented on #21
@rbrto Te mandé un correo!! :)

[2016-11-10 19:02] m-mujica opened #24 "Propuesta Charla: Conoce StealJS"
| - | - |
|---|---|
| Expositor  | Manuel Mujica   |
| Url  | https://twitter.com/m_mujica   |
| Nombre de la charla  |  Conoce StealJS |
| Descripción  | StealJS es una librería para cargar dependencias y crear bundles con los                                              assets que tu aplicación necesita para correr en un browser de forma eficiente. Funciona con ES6, CommonJS, AMD, CSS, LESS y má

[2016-11-28 15:12] Xabadu commented on #23
Hola @tomascharad, estamos confirmando las charlas para el meetup de este jueves. ¿Sigue en pie la tuya? Saludos!

[2016-11-28 15:14] Xabadu commented on #24
Hola @m-mujica, gracias por sumarte. ¿Te confirmamos para el Meetup de este jueves? Saludos!

[2016-11-28 15:23] m-mujica commented on #24
@Xabadu vale, perfecto!

[2016-11-28 15:31] Xabadu commented on #24
@m-mujica perfecto, confirmado! Recuerda que es en las oficinas de MercadoLibre. Acá está toda la información del evento: https://www.meetup.com/es-ES/Javascript-Chile/events/234590771/

Avísanos si necesitas algo de nuestra parte. Nos vemos!

[2016-11-29 01:56] tomascharad commented on #23
Hola @Xabadu,

Me siento un poco avergonzado de decir esto pero me volvió a pillar el mes y el día me juega en contra. Podremos dejar la charla para el próximo mes si es posible?

Si esto complica mucho su gestión dime para ver si lo puedo solucionar de otra forma.

Un abrazo.

[2016-11-30 01:58] Xabadu commented on #23
@tomascharad dale, no hay problema, veámoslo para el próximo mes.

Abrazo!

[2016-11-30 19:20] feranto opened #25 "Devops para NodeJS apps"
Como diseñar un proceso de devops con las siguientes prácticas:

- Continous Integration
-Release Management
-Continous Deployment

Para apps en NodeJS usando vsts.

[2016-11-30 19:52] Xabadu commented on #25
Hola @feranto, buenísima. El próximo Meetup es mañana y nos queda un cupo para charlas, ¿alcanzas, o para el próximo mes? Saludos!

[2016-12-01 00:44] JonDotsoy commented on #25
Vamos @feranto se ve interesante 👍

[2016-12-02 03:15] feranto commented on #25
saludos @Xabadu será para el próximo mes estimado, please confirmar cupo? Estuvo muy buena hoy día, gracias!

[2016-12-02 17:19] DMasterIO opened #26 "Propuesta de Charla"
Nombre del charlista: César Encina

Contacto: @dmaster69

Nombre de la charla: Deployando Lambda con ClaudiaJS

Descripción de la charla: Lambda se ha convertido en uno de los servicios más utilizados por su funcionalidad y costo, pero el subir, versionar y gestionar las distintas funciones de forma manual es un caos. Por eso presentaré como ClaudiaJS ayuda en esta etapa.

[2016-12-02 17:22] Xabadu commented on #26
Listo @DMaster69 confirmado para el Meetup de Enero. Avísanos si necesitas algo!

[2016-12-02 17:22] Xabadu commented on #25
Listo @feranto, confirmado para el Meetup de Enero. Avísanos si necesitas algo!

[2017-01-03 18:45] fforres commented on #25
Oiga don @feranto!!!
Tienes un correo para contactarte? :)

[2017-01-16 00:09] feranto commented on #25
@fforres hasta ahora lo veo, puedes contactarme a ferant0@outlook.com. A la orden!

[2017-01-31 04:36] nriesco opened #27 "Donejs con feathersjs: lo básico"
Lo básico de ocupar donejs (https://donejs.com/) junto con un API server en feathersjs (http://feathersjs.com/).

_Temas:_
- **Motivación**: MVC, MVvC, historia personal
- **Feathers básico**: crear server y crear servicios / modelos en mongoose
- **Donejs básico**: componente con conexión a API
- **Donejs intermedio**
  - CRUD
  - mejoras en interfaz / usabilidad

_Dependiendo del tiempo:_
- **Fe

[2017-01-31 04:42] fforres commented on #27
Genial master!
Las charlas normalmente son de 30 a 35 minutos, (Pero pueden extenderse algunos con preguntas)
Cabe dentro del tiempo? 👍

(Also, te dejé un mensaje en el chat de meetup.com)

[2017-01-31 04:42] fforres commented on #27
Also, te dejé un mensaje en interno

[2017-01-31 05:54] nriesco commented on #27
@fforres la idea es hacerlo en ese tiempo, ahora si hay interés, tiempo y ganas no hay problema en extenderse por mi parte, creo que el tema da para largo. De todas formas esto es algo introductorio solamente, no soy el gurú de feathers ni de donejs pero creo que puedo compartirles lo que he ido aprendiendo el último tiempo pues es realmente valioso.

[2017-01-31 12:31] fforres commented on #27
Awesome!

[2017-02-01 03:28] portafolio-salinas opened #28 "quiero saber más sobre node"
buenas me gustaria asistir a al charla que realizarán este jueves

[2017-02-01 16:32] fforres commented on #28
Hola @portafolio-salinas!
Claro! Ven nomás 👍

Hoy aprovechamos de correr la lista unos puestos, para que lleguen entradas, pero si no, siempre nos arreglamos 👍

[2017-02-01 22:15] portafolio-salinas commented on #28
gracias nos vemos

2017-02-01 13:32 GMT-03:00 Felipe Torres (fforres) <notifications@github.com

--
Atte.
*Valeska Salinas Ceballos.*

[2017-02-01 23:27] fforres commented on #28
:)

[2017-02-02 13:34] juanpabloaj opened #29 "Lightning talk: Ejemplo de Telegram bot con nodejs"
Una lightning talk sobre como hacer un bot para telegram con nodejs

Voy a explicar como hice

https://github.com/juanpabloaj/fromcommandlinebot

Un bot para enviar mensajes desde la linea de comandos a telegram

y como lo tengo alojado en https://zeit.co/now

[2017-02-02 14:28] fforres commented on #29
👍  Para hoy?
Estaría awesome!!  @juanpabloaj !! :D

[2017-02-02 14:30] juanpabloaj commented on #29
@fforres si, para hoy. no voy a preparar nada muy complejo, solo describir como funciona y que cosas se utilizan.

[2017-02-02 14:37] fforres commented on #29
Genial!!
Se agrega 👍

[2017-02-02 20:05] juanpabloaj commented on #29
la presentación

http://platon.io/gist/527f4b6dc3d7f0f900686342086bde0b

[2017-02-08 22:37] juanpabloaj opened #30 "meetup 02/03/17 Lightning: platon.io presentaciones desde markdown"
Para la el meetup del 2 de marzo me apunto con una charla breve sobre una web app que creé para generar presentaciones desde markdown.

http://platon.io

[2017-02-08 22:45] fforres commented on #30
Buenísima master!! 👍
Sería genial ver como lo hiciste

[2017-03-01 19:44] DracotMolver opened #31 "Charla: Electronjs y el futuro de las aplicaciones de escritorio"
Me gustaría poder dar una pequeña introducción al framework ElectronJS y dejar como planteamiento el futuro de las aplicaciones de escritorio. Todo esto bajo mi experiencia al desarrollar una aplicación usando ElectronJS. La aplicación, Soube, actualmente se encuentra en mi Dashboard y desde el momento de subirla a las App realizadas con ElectronJS he tenido una gran acogida desde distintos lugare

[2017-03-01 22:34] fforres commented on #31
Holas @DracotMolver .
Buenísima, para cuantos minutos estás considerando la presentación?
Lightning? Keynote?

[2017-03-01 23:43] DracotMolver commented on #31
@fforres genial :). Sería un Keynote solo sobre ElectronJS, yo creo que sería de 25 min. Sería genial para abril, así tengo tiempo para preparar una presentación con algunos ejemplos de códigos :), o para la fecha que estimes conveniente. Es mi primera vez participando en ésto y encuentro genial que exista esta comunidad 👍 y dar la instancia para compartir conocimientos en las charlas.

[2017-03-02 00:27] tomascharad commented on #23
Hola! Hay algo en lo que pueda ayudar?

[2017-03-02 12:37] fforres commented on #31
Para cuando quieras.
Genial, te dejo anotado para abril entonces @DracotMolver

[2017-03-02 12:37] fforres commented on #30
Solo haciendo un checkin, preparado para la proxima semana @juanpabloaj ?
😄

[2017-03-02 12:55] juanpabloaj commented on #30
Si, preparado , aunque en realidad no pensaba presentar algo muy elaborado
xd

El El jue, 2 de mar. de 2017 a las 09:37, Felipe Torres (fforres) <
notifications@github.com> escribió:

--
JuanPablo AJ
juanpabloaj.com

[2017-03-04 01:21] DracotMolver commented on #31
@fforres Sí, genial :). Nos vemos en abril. Gracias :)

[2017-03-24 18:08] fforres commented on #31
Holas @DracotMolver !!
como va?

Quería confirmar si aun va tu charla para Abril. Estamos planeando una charla el jueves 6 en las oficinas de Globant (Cerca del metro manquehue)

Still in??

[2017-03-24 19:29] DracotMolver commented on #31
Hola @fforres , Sí va, estoy armando la presentación :). Dale bkn, no hay problemas con el lugar

[2017-03-24 22:23] fforres commented on #31
Awesome, mandamos el update entonces :)

[2017-03-24 22:33] DracotMolver commented on #31
Sería un keynote. Daré un introducción del por qué del título, como surge ElectronJS, algunas aplicaciones desarrolladas usando este framework y la explicación de su arquitectura. Necesitas que te envíe la prensentación?, estoy usando RevealJS, así que se puede visualizar en cualquier navegador

[2017-03-27 20:27] josev55 opened #32 "Lightning: React Navigation"
Buenas! Me gustaría hacer una lightning presentando React Navigation, la nueva lib para navegación en React Native. [https://reactnavigation.org/](url)

[2017-03-28 16:08] ormasoftchile opened #33 "aureliajs"
Hola!!!

Me avisaron de este espacio y puedo aportar con una charla que ya he hecho sobre aureliajs.
Es un framework para desarrollo de aplicaciones con esnext, two way databinding, y su principal enfoque es el apego a estándares y evitar abstracciones innecesarias.

Tengo una keynote.

Avísenme por favor si les interesa para programarme.

Saludos!!!

Cristián Ormazábal

[2017-03-28 20:45] fforres commented on #33
Genial! @ormasoftchile
Para abril ya tenemos listo el cupo de las keynotes, podría ser para Mayo??

[2017-03-28 20:45] fforres commented on #32
Awesome, te agrego entonces para el Jueves 6 @josev55

[2017-03-29 03:19] ormasoftchile commented on #33
Por supuesto. Indícame la fecha para programar. Saludos

[2017-04-03 21:44] DracotMolver commented on #31
@fforres debo informar que no podré asistir y dar la charla, acabo de emoezar a trabajar en un lugar nuevo y el horario, junto con la distancia, no me acompañan. Esto era algo que no había previsto para este mes, pero salió antes de tiempo el trabajo. Mis disculpas si esto genera algún inconveniente

[2017-04-05 02:06] fforres commented on #31
@DracotMolver
Que mala onda, estamos viendo como lo solucionamos.
Te contesté tu correo, habrás tenido tiempo de verlo??

[2017-04-05 02:30] DracotMolver commented on #31
Hola Felipe, lo estaba leyendo ahora. Lo veo súper difícil. Ahora trabajo
en Maipú. Trabajé dos años en Alonso de Córdova con Cerro colorado y es un
viaje de casi dos horas. Ahora tengo horario y salgo a las 6. De nuevo, mil
disculpas, estaba realmente entusiasmado, pero tengo prioridades más
importantes. Saludos

El 4 abr. 2017 11:06 p. m., "Felipe Torres (fforres)" <
notifications@github.com> es

[2017-05-04 17:32] peterlavey opened #34 "Presentación de Weasel"
Es una aplicación web para mockear servicios con un nuevo concepto de agrupación de datos.

[2017-05-04 17:56] DMasterIO commented on #34
Excelente @peterlavey!!
Te interesa exponer el meetup de la próxima semana??
Además podrías darnos una breve descripción de la charla y el tiempo que necesitas para esta.
¿Necesitas algo adicional / especial para la presentación?

[2017-05-04 17:57] luchosrock commented on #34
Sería entonces una charla de 15 minutos aproximadamente. El título es "Weasel: mock de servicios rest para dejar de preocuparse por el backend" ??? opiniones? :smile:

[2017-05-04 17:58] peterlavey commented on #34
Sí, 15 minutos aprox, un proyector si es posible para presentarlo desde  mi note.

[2017-05-04 18:18] luchosrock commented on #33
@ormasoftchile tenemos un cupo para dar charla el próximo 11 de mayo

[2017-05-06 23:42] ormasoftchile commented on #33
súper. por favor escríbeme al correo para contactarnos.

Saludos.

[2017-05-15 15:38] johuder33 opened #35 "Presentacion: React Native Animations"
Presentación para dar a conocer como se puede trabajar con Animations en React Native, me parece interesante ya que me parece que no ha habido una charla de este tipo y me parece también que React Native ha generado una gran comunidad que se encuentra en constante crecimiento, además de que la documentación que se puede encontrar no parece muy claro, entonces que mejor forma de aprender, que una c

[2017-05-15 17:05] fforres commented on #35
Awesome! 👍
Agendado para Julio entonces!

[2017-05-29 20:25] JonDotsoy opened #36 "Presentación: Construir una aplicación isomórfica con ReactJS"
Quisiera hacer una presentación sobre cómo Construir una aplicación isomórfica con ReactJS.

[2017-06-10 15:14] fforres opened #41 "Centralizar aportes en $"
## Motivación
De acuerdo a las ultimas interacciones que hemos tenido con la comunidad en los Meetups anteriores, muchas personas nos han comentado que les gustaría tener alguna manera de aportar con dinero.

Si, hemos logrado cosas súper Cool y es tanto por el apoyo de la comunidad como por el trabajo y tiempo de los organizadores (Muchas Gracias 💓), por lo mismo, sería genial poder canalizar las

[2017-06-10 15:51] fforres commented on #41
Extra info sobre los % de cobro de las 2 alternativas
### OpenCollective

### Patreon

[2017-06-12 03:04] Xabadu commented on #41
Antes de todo, si, 1000%.

Creo que OpenCollective es más cercano a este tipo de iniciativas. Patreon tiene algunos extras interesantes si estás creando constantemente contenido, lo que para este caso quizás no aplique mucho.

Independiente del servicio, creo que lo más importante es definir ciertas cosas que puedan eventualmente convertirse en problemas con gente que vea desde afuera esto y piens

[2017-06-12 15:24] fforres opened #42 "TEST"
## ¿Qué tipo de presentación quieres hacer?

- [X] Keynote (20 a 30 minutos)
- [ ] Lightning Talk (+- 5 minutos)
- [ ] Avisos de trabajo / comunidades / actividades / ETC.

## ¿Cuál es tu nombre?
Felitest testrres

## ¿Cuál es el título de tu charla?

Testing Tests on Tests environments

## Danos una descripción de tu charla (20 palabras)

Have you tested some tests when testing? the testing tests

[2017-06-12 15:24] #42 closed, assigned to nobody

[2017-06-12 16:19] fforres commented on #41
Vale por el insight @Xabadu
Personalmente me gusta mucho más la idea de usar OpenCollective, suena mucho más apegado a lo que se busca con Noders.

Tienes razón con lo de posibles preguntas no vale mucho tener transparencia de lucas si no hay transparencia de intenciones... o roadmap 😕

**A qué se destina la plata que se junta ahí:**
  - @Xabadu tiene razón... es complicado sobretodo el tema de sn

[2017-06-13 04:30] cristofer-dev commented on #41
Igual me gusta mas **OpenCollective** esta mas alineado con lo que buscamos para la comunidad creo!

Concuerdo con los puntos mencionados!

Respecto a los casos **not cool**, creo que si se definen bien los **Statement de la comunidad** y a que irán destinados los fondos no deberían haber mayores problemas!

[2017-06-13 20:39] Xabadu commented on #41
@L0rdKras @DMaster69 que piensan uds?

[2017-06-13 20:40] #19 closed, assigned to nobody

[2017-06-13 20:40] #28 closed, assigned to nobody

[2017-06-14 04:00] rodrigoAdones commented on #41
Yo estoy totalmente de acuerdo con la idea de recibir aportes, además de usar OpenCollective para esto. Patreon es más como de artistas, o gente que se hace los fondos para proyectos personales o directamente ganarse la vida, y no realmente para eventos o comunidades, como es nuestro caso.

La transparencia del uso del dinero recibido es algo que debemos cuidar, y es lo mas importante al elegir la

[2017-06-14 13:57] cristofer-dev commented on #41
Entonces hay que elaborar un borrador de lo que mencionan arriba,

- Statement
- En qué usaremos las donaciones.
- Estimación de Gastos
- Roadmap

[2017-06-14 19:04] #1 closed, assigned to nobody

[2017-06-14 19:04] #2 closed, assigned to nobody

[2017-06-14 19:04] #3 closed, assigned to nobody

[2017-06-14 19:04] #4 closed, assigned to nobody

[2017-06-14 19:04] #5 closed, assigned to nobody

[2017-06-14 19:04] #6 closed, assigned to nobody

[2017-06-14 19:04] #7 closed, assigned to fforres

[2017-06-14 19:04] #9 closed, assigned to fforres

[2017-06-14 19:05] #11 closed, assigned to fforres

[2017-06-14 19:05] #12 closed, assigned to nobody

[2017-06-14 19:05] #13 closed, assigned to nobody

[2017-06-14 19:05] #14 closed, assigned to nobody

[2017-06-14 19:05] #15 closed, assigned to nobody

[2017-06-14 19:05] #16 closed, assigned to nobody

[2017-06-14 19:05] #17 closed, assigned to nobody

[2017-06-14 19:05] #18 closed, assigned to nobody

[2017-06-14 19:05] #20 closed, assigned to nobody

[2017-06-14 19:05] #21 closed, assigned to nobody

[2017-06-14 19:05] #22 closed, assigned to nobody

[2017-06-14 19:05] #23 closed, assigned to nobody

[2017-06-14 19:05] #24 closed, assigned to nobody

[2017-06-14 19:05] #25 closed, assigned to nobody

[2017-06-14 19:05] #26 closed, assigned to nobody

[2017-06-14 19:05] #27 closed, assigned to nobody

[2017-06-14 19:05] #29 closed, assigned to nobody

[2017-06-14 19:05] #30 closed, assigned to nobody

[2017-06-14 19:05] #31 closed, assigned to nobody

[2017-06-14 19:05] #32 closed, assigned to nobody

[2017-06-14 19:05] #33 closed, assigned to nobody

[2017-06-14 19:05] #34 closed, assigned to nobody

[2017-06-14 19:05] #36 closed, assigned to nobody

[2017-06-14 19:05] fforres commented on #35
(Sorry... reabriendo @johuder33 )

[2017-06-14 20:58] fforres opened #43 "Borrador para community-fund"
(Para hacerle seguimiento a la creación del documento de recaudación de fondos)

TODO:

- [ ] Statement
- [ ] En qué usaremos las donaciones.
- [ ] Estimación de Gastos
- [ ] Roadmap

cc @Noders/meetup

[2017-06-14 21:00] fforres commented on #41
Me parece genial 😄
En el #43 le podemos hacer seguimiento al documento/borrador

Acá podemos seguir viendo la plataforma para centralizar Aportes en $

[2017-06-14 21:16] cristofer-dev commented on #43
para los **Statement** tenemos alguna que nos sirva de referencia ??

[2017-06-14 22:00] fforres commented on #41
Tuvimos un update de los chicos de opencollective:

So... la alternativa de Opencollective se ve complicada.
Solo recolectan $ mediante Stripe, y nuestra única manera de crear un opencollective es tener una cuenta bancaria en algún pais q tenga Stripe y conectarlos... 😕

Patreon se posiciona mejor segun yo.... pero de igual manera, podemos tener opciones :)
Acá hay un post en HackerNews donde mues

[2017-06-14 22:04] cristofer-dev commented on #41
Pense en @Xabadu y su banco gringo ! digo yo!

[2017-06-14 22:10] fforres commented on #41
Si, pero ahí entramos en otros temas.
Como stripe se conecta con el banco, empezamos a lidiar con temas de impuestos, fiscal sponsors y cosas que en USA son haaarto más complejas.
Creo yo que no debemos poner a @Xabadu en esa situación. ❤️

La opción es buscar alguna alternativa que podamos implementar con menos jaleo :)

[2017-06-14 22:13] cristofer-dev commented on #41
Malditos Yankees y su economía!
Hay que revisar las otras opciones!

[2017-06-14 22:40] fforres commented on #41
BTW, esta lectura está super cool, es una comparativa de plataformas de crowdfunding :)
https://wiki.snowdrift.coop/market-research/other-crowdfunding

[2017-06-15 06:28] fforres commented on #43
Les parece basarse en el correo a facebook developer circles?
Podemos iterar sobre eso 😄

[2017-06-15 06:31] fforres commented on #43
COPYPASTE del correo

### Descripción:

En Noders (http://noders.com) creamos y mantenemos una comunidad global alrededor de JavaScript, NodeJS y su ecosistema en LatinoAmérica.
Es una iniciativa Opensource (http://github.com/noders), non-profit, realizada por y para desarrolladores.
Nuestro enfoque es potenciar el ecosistema de desarrolladores a lo largo de Latino América, realizando para ello me

[2017-06-16 04:02] fforres opened #44 "Iniciativa para Nuevos Meetups"
La *** Iniciativa de Noders para que exista una mayor diversidad de meetups ***
*(Nombre **cool** aun pendiente -> #45)*

--------------

**ReactJS, VueJS, NodeJS, GraphQL**… Si quieres crear un meetup de estos u otros temas relacionados con JavaScript... queremos ayudarte a organizarlo!!

Claro!! Nuestra iniciativa es simple, nos gusta hacer comunidad, nos encanta que la gente aprenda, y queremos

[2017-06-16 04:04] fforres opened #45 "Nombre cool para iniciativa de Nuevos Meetups"
(Relacionado a  ##44)

### Motivación
Sería genial tener un nombre más cool para la iniciativa que estamos generando.
Más que...  ***Iniciativa para que exista una mayor diversidad de meetups*** 😆

### Idea
Centralizar en este issue un listado de ideas (Y ... razones(?)) para nombres 😄

### Opciones
- [ ] Lorem ipsum
- [ ] Dolor sit amer

CC @Noders/meetup

[2017-06-16 05:01] fforres commented on #45
Propongo:
### Extends.js
(**Personalmente no me gusta mucho la sintaxis de clases en JS...pero ya qué 😆**)
**Extends** siento que va con el plan de Expandirse/forkear el meetup/replicar la experiencia.
Also...es una keyword reservada en JS ...que más nerd 😄

[2017-06-19 12:55] johuder33 commented on #35
@fforres no te preocupes, disculpa quería saber cuanto tiempo tendré para la intervención ?

[2017-06-21 12:40] DMasterIO commented on #35
@johuder33  master!, tenemos 2 tipos de charlas keynotes [30~45 minutos] o lightning [max 15 minutos]. imagino que para lo que propones la keynote es la que más te acomoda.

[2017-06-21 21:30] fforres commented on #45
Ping? @Noders/meetup

[2017-06-21 22:09] Xabadu commented on #45
Bien por mi, no tengo preferencias particulares por el nombre, solo una pregunta, Por qué un nombre nuevo y no seguir expandiendo los chapters de Noders?

[2017-06-23 14:17] fforres commented on #45
Claaaro, es la idea .
Es mas que nada el nombre que le ponemos a la iniciativa 😄

[2017-06-23 14:18] fforres commented on #45
Wait...es confuso?
Si decimos en un meetup "Recuerden a XXXXXXX, la inciativa que tenemos para abrir más chapters de Noders"

[2017-06-26 21:16] csaldiasdev opened #46 "Charla vue.js"
## ¿Qué tipo de presentación quieres hacer?

- [x] Keynote (20 a 30 minutos)

## ¿Cuál es tu nombre?
Cristian Saldias

## ¿Cuál es el título de tu charla?

'Introducción a Vue.js y Vuex + Demo'

## Danos una descripción de tu charla (20 palabras)

La charla tratara de una breve introducción de vue.js. en donde se explicaran los aspectos bases de la librería, ademas de introducir también en vuex. P

[2017-06-29 19:46] luchosrock commented on #46
@cristians90 nos confirmas para el Jueves 13 de julio? :smile:

[2017-06-29 19:49] luchosrock commented on #35
@johuder33 entonces nos confirmas para el 13 de julio? Quedamos atentos :smile:

[2017-06-29 20:39] csaldiasdev commented on #46
Si!
de ahí somos.

[2017-06-29 20:55] johuder33 commented on #35
@luchosrock @DMaster69 @fforres Disculpe no responderles antes lo olvide :s, con respecto a la presentación, tomare un keynote, y sería para el 13 de Julio o el Jueves 6 de Julio ?

[2017-06-29 21:48] luchosrock commented on #35
@johuder33 jueves 13 de julio :smile:

[2017-06-29 23:59] fforres commented on #35
13 de Julio??!
Animaciones con RN!??!

Yei!! !!

![giphy 4](https://user-images.githubusercontent.com/952992/27715494-671c054a-5cec-11e7-8b57-bbf0e771dd1f.gif)

[2017-06-30 00:00] fforres commented on #35
(Solo de curioso... y bien aparte de la conversa del meetup.... que estas usando para las animaciones @johuder33 ? :P)

[2017-06-30 00:03] fforres commented on #46
Yeiii!!
Genial @cristians90 !! :D

![giphy 5](https://user-images.githubusercontent.com/952992/27715535-d4a1697a-5cec-11e7-971a-2238c4ce725f.gif)

[2017-06-30 01:24] johuder33 commented on #35
@fforres siii Animations :) la verdad no tengo pensado usar alguna librería o algo por el estilo, usare la misma librería de RN Animated y haré las animaciones from scratch jejeje

[2017-06-30 02:05] fforres commented on #45
Sería super cool dejar esto definido esto antes del meetup, por si quieren recordarle a la gente durante el evento 😄 cc @Noders/meetup

[2017-06-30 02:12] fforres commented on #35
Buenísima master!

-------
Friendly reminder, ojo si con ese estilo de comentarios, la idea es no pasar a llevar a nadie 😄 (Por temas de género, sexualidad, condición o raza)

[2017-06-30 02:12] fforres commented on #35
El código de conducta usualmente se lo enviamos a los charlistas, así que paso a dejarlo acá :P https://github.com/Noders/code_of_conduct,

[2017-06-30 02:15] johuder33 commented on #35
@fforres ah no claro por supuesto, en la charla existirá otra forma de hablar no te preocupes por eso igualmente leeré lo que me enviaste gracias :D

[2017-06-30 02:19] fforres commented on #46
Uh! a todo esto master.

Un friendly reminder, me imagino que ya lo sabes, pero no está de más comentarlo 😄

-----

Los eventos que hacemos se rigen por el siguiente
[código de conducta](https://github.com/Noders/code_of_conduct),
Queremos que la gente se sienta incluida y que los meetups son un espacio seguro para cualquier persona, asi que no queremos pasar a llevar a nadie ni herir sensibilidad

[2017-06-30 14:52] cristofer-dev commented on #45
Little Noders...
Noders Sponsoring...

[2017-06-30 17:08] cristofer-dev commented on #45
puta no soy mu creativo para estas weas...

[2017-07-03 16:10] luchosrock commented on #45
anda a vaar; :tongue:

[2017-07-03 16:13] luchosrock commented on #45
Creo que debiese ser *Noders/xxxxxx* simple y explicativo

[2017-07-04 15:59] luchosrock commented on #35
@johuder33 tienes algúna red social para contactarte?

[2017-07-05 04:08] johuder33 commented on #35
@luchosrock si por Twitter estaría bien : @johuder33

[2017-07-10 14:14] rogeriochaves opened #47 "Charla de Elm"
## ¿Qué tipo de presentación quieres hacer?

- [x] Keynote (20 a 30 minutos)
- [ ] Lightning Talk (+- 5 minutos)
- [ ] Avisos de trabajo / comunidades / actividades / ETC.

## ¿Cuál es tu nombre?

Rogério Chaves

## ¿Cuál es el título de tu charla?
Introducción a Elm: la solución final para el frontend

## Danos una descripción de tu charla (20 palabras)
Voy explicar un poco de la lenguaje Elm, qu

[2017-07-10 14:24] rogeriochaves commented on #47
@luchosrock

[2017-07-10 14:55] luchosrock commented on #47
@rogeriochaves ya tenemos dos charlas de 20 minutos agendadas para este jueves 13. ¿Es posible que coordinemos para el próximo meetup (primera o segunda semana de agosto)? Quedamos atentos :smile:

[2017-07-10 17:03] rogeriochaves commented on #47
no voy estar acá en chile, vuelvo este viernes a brasil :(
quizás en la próxima :)

[2017-07-11 18:46] luchosrock commented on #47
@rogeriochaves si te parece bien y aún tienes disponibilidad nos gustaría que participaras, la idea es no perder el tema, quedo atento :smiley:

[2017-07-11 23:06] rogeriochaves commented on #47
esta bien! gracias! Igual voy al meetup de cualquier manera y ya tengo la charla lista, si sobra tiempo yo presento ;D

[2017-07-14 03:07] oyanezm opened #48 "Charla sobre App Hibridas con EmberJS"
## ¿Qué tipo de presentación quieres hacer?

Keynote (20 a 30 minutos)

## ¿Cuál es tu nombre?

Oscar Yañez

## ¿Cuál es el título de tu charla?

Disculpe ¿Tiene un minuto para hablar de Ember?

## Danos una descripción de tu charla (20 palabras)

Les voy a contar mi experiencia desarrollando app Hibridas con Ember y de paso describir sus principales funcionalidades y como estas resuelven problema

[2017-08-03 19:53] cristofer-dev commented on #47
@rogeriochaves Gracias por ser parte el meetup y compartir tu experiencia, tu charla estuvo genial!
Saludos y gracias de parte de la Comunidad de Noders!

[2017-08-03 19:54] #47 closed, assigned to luchosrock

[2017-08-03 19:54] cristofer-dev commented on #46
@cristians90 Gracias por ser parte el meetup y compartir tu experiencia, tu charla estuvo genial!
Saludos y gracias de parte de la Comunidad de Noders!

[2017-08-03 19:55] #46 closed, assigned to luchosrock

[2017-08-03 19:55] cristofer-dev commented on #35
@johuder33 Gracias por ser parte el meetup y compartir tu experiencia, tu charla estuvo genial!
Saludos y gracias de parte de la Comunidad de Noders!

[2017-08-03 19:56] #35 closed, assigned to luchosrock

[2017-08-04 02:03] rogeriochaves commented on #47
@cristofer-dev muchas gracias! Y para aprovechar, les comparto los slides https://speakerdeck.com/rogeriochaves/introduccion-a-elm

[2017-08-14 21:02] highercomve opened #49 "Tiene un minuto para hablar de TDD"
## ¿Qué tipo de presentación quieres hacer?

- [x] Keynote (20 a 30 minutos)
- [ ] Lightning Talk (+- 5 minutos)
- [ ] Avisos de trabajo / comunidades / actividades / ETC.

## ¿Cuál es tu nombre?

Sergio Alejandro Marin Zambrano

## ¿Cuál es el título de tu charla?

"Tiene un minuto para hablar de TDD"

## Danos una descripción de tu charla (20 palabras)
Vamos a hablar un poco de TDD y como implem

[2017-08-23 01:49] #48 closed, assigned to luchosrock

[2017-08-23 18:06] fforres opened #50 "TEST"
TEST!

[2017-08-23 18:06] enBonnet commented on #50
TEST del TEST

[2017-08-23 18:08] #50 closed, assigned to nobody

[2017-08-27 00:59] fforres commented on #49
Me encantó la propuesta! @highercomve 👍

Si puedo te acompaño con una charla 😄

[2017-08-27 02:41] highercomve commented on #49
Gracias @fforres ahi coloque los slides en los que estoy trabajando.

[2017-08-28 17:49] raerpo opened #51 "Typescript en el mundo real (Mitos y verdades)"
## ¿Qué tipo de presentación quieres hacer?

- [X] Keynote (20 a 30 minutos)
- [ ] Lightning Talk (+- 5 minutos)
- [ ] Avisos de trabajo / comunidades / actividades / ETC.

## ¿Cuál es tu nombre?
Rafael Poveda

## ¿Cuál es el título de tu charla?
Typescript en el mundo real

## Danos una descripción de tu charla (20 palabras)
¿Que tal funciona typescript en los proyectos que tenemos en el día a dí

[2017-08-30 13:21] cristofer-dev commented on #51
Gracias @raerpo por sumarte con tu keynote!. El meetup esta programado para el **14 de Septiembre** no tienes problemas para esa fecha ?

[2017-08-30 13:22] cristofer-dev commented on #49
Esta cool @highercomve ! El meetup va el **14 de Sptiembre** no tienes problema para esa fecha ?

[2017-08-30 19:13] raerpo commented on #51
Si, esta perfecto.
allá nos vemos entonces!

[2017-09-07 14:11] mishuagopian opened #52 "Documentando APIs de manera automática"
## ¿Qué tipo de presentación quieres hacer?

- [x] Keynote (20 a 30 minutos)
- [ ] Lightning Talk (+- 5 minutos)
- [ ] Avisos de trabajo / comunidades / actividades / ETC.

## ¿Cuál es tu nombre?
Michel Agopian

## ¿Cuál es el título de tu charla?
'Documentando APIs de manera automática'

## Danos una descripción de tu charla (20 palabras)
La documentación siempre es un problema en los proyectos.

[2017-09-07 18:36] fforres commented on #52
Wow, esta muy cool @mishuagopian
Estarás solo para septiembre? (Estarás acá en Octubre?) Tenemos ya 2 keynotes para este meetup, no tengo muy claro si podemos sumar una tercera, dejame confirmar y te cuento :)

[2017-09-07 19:02] mishuagopian commented on #52
@fforres estaré solamente en Septiembre! Puedo hacerla no muy extensa, pero de verdad que me encantaría poder participar con la charla!!

[2017-09-10 18:57] mishuagopian commented on #52
@fforres noticias sobre esto? :)

[2017-09-10 22:00] enBonnet commented on #52
@mishuagopian Hello! Te esperamos con tu charla y todo el buen animo que tienes!

[2017-09-11 01:47] mishuagopian commented on #52
@enBonnet Gracias!

[2017-09-25 13:57] fforres commented on #52
Holas @mishuagopian !
Antes que nada, muchas gracias por la presentación en el meetup :) estuvo de pelos.
Queremos esta semana enviar el correo con avisos / las presentaciones.

Sería genial si tienes un repo / links / presentación para mandar. O algún aviso (Ofertas laborales, eventos, etc)

Saludos!

[2017-09-25 13:57] fforres commented on #51
Holas @raerpo !
Muchas gracias por la presentación en el meetup :) Estuvo de pelos. Más de alguno quedaron convencidos de probar typescript (Incluso por sobre Flow)

Te cuento que queremos esta semana enviar el correo con avisos / las presentaciones.
Sería genial si tienes un repo / links / presentación para mandar. O algún aviso (Ofertas laborales, eventos, etc)

Saludos!

[2017-09-25 13:59] fforres commented on #49
Holas @highercomve  !
Muchas gracias por la presentación en el Meetup :) Sos un sol! 😄

Esta semana queremos enviar el correo con avisos / presentaciones agradecimientos y demases.

Sería genial si tienes un repo / links / presentación para mandar. O algún aviso (Ofertas laborales, eventos, etc).

Saludos!

[2017-09-25 14:07] raerpo commented on #51
Muchas gracias @fforres este es el repo de los slides:
https://github.com/raerpo/typescript-talk

Con respecto a las ofertas laborales, seguimos buscando frontends (ojala con conocimientos React pero es más importante que sepan JS y aprendan rápido). Currículos al correo repovedal@falabella.cl

PD: Gracias por la oportunidad de hablar en noders! gran comunidad... Felicitaciones!

[2017-09-25 14:07] highercomve commented on #49
Buenas,

De nada un placer ya quiero hacer otra sobre serverless y aws (flow, TDD,
lambda) suena divertido?

Ahora sobre la anterior.
Repo:
https://github.com/highercomve/tdd-nuxt-feathers
Slides:
https://slides.com/highercomve/tdd/

Y mi Twitter, GitHub, etc

@highercomve

Saludos

On Mon, Sep 25, 2017, 10:59 AM Felipe Torres (fforres) <
notifications@github.com> wrote:

[2017-09-30 22:43] dortegan opened #53 "Intro a GraphQL: APIs flexibles y eficientes"
## ¿Qué tipo de presentación quieres hacer?

- [x] Keynote (20 a 30 minutos)
- [ ] Lightning Talk (+- 5 minutos)
- [ ] Avisos de trabajo / comunidades / actividades / ETC.

## ¿Cuál es tu nombre?
Daniel Antonio Ortega Norambuena

## ¿Cuál es el título de tu charla?
Intro a GraphQL: APIs flexibles y eficientes
La idea es mostrar qué es GraphQL, como funciona y sus principales características. Ademá

[2017-10-02 15:10] luchosrock commented on #53
Hola! la charla sería el próximo miércoles 04 de Octubre, nos confirmas tu participación?

Saludos 😄

[2017-10-02 15:13] dortegan commented on #53
Si! confirmo.

Saludos

On Mon, Oct 2, 2017 at 12:10 PM Luis Bustamante Flores <
notifications@github.com> wrote:

[2017-10-03 04:08] enBonnet opened #54 "Nodejs everywhere"
## ¿Qué tipo de presentación quieres hacer?

- [x] Keynote (20 a 30 minutos)
- [ ] Lightning Talk (+- 5 minutos)
- [ ] Avisos de trabajo / comunidades / actividades / ETC.

## ¿Cuál es tu nombre?
Ender Bonnet

## ¿Cuál es el título de tu charla?
Aplicaciones y usos comunes que tiene Nodejs

## Danos una descripción de tu charla (20 palabras)
Un recorrido ilustrado por las aplicaciones que usamos d

[2017-10-03 18:40] Xabadu commented on #54
![austin-beer](https://user-images.githubusercontent.com/3161019/31142597-9b38564c-a82f-11e7-9023-2538588018df.gif)

[2017-10-12 12:55] luchosrock commented on #53
Gracias @dortegan por tu presentación!! Es posible que nos compartas las slides? 😄 quedamos atentos!!

[2017-11-01 15:26] #49 closed, assigned to nobody

[2017-11-01 15:26] #51 closed, assigned to nobody

[2017-11-01 15:26] #52 closed, assigned to nobody

[2017-11-08 00:51] juanpabloaj opened #55 "lightning : Ordenando entradas rss por votos"
## ¿Qué tipo de presentación quieres hacer?

- [ ] Keynote (20 a 30 minutos)
- [x] Lightning Talk (+- 5 minutos)
- [ ] Avisos de trabajo / comunidades / actividades / ETC.

## ¿Cuál es tu nombre?

Juan Pablo Abarzúa J

## ¿Cuál es el título de tu charla?
Ordenando entradas RSS por votos de reddit y hackernews

## Danos una descripción de tu charla (20 palabras)
Cuando tienes muchas entradas rss, p

[2017-11-16 15:15] BlackHarpy opened #56 "Lightning Talk: Configurando un proyecto Phaser en Typescript y Webpack"
## ¿Qué tipo de presentación quieres hacer?

- [ ] Keynote (20 a 30 minutos)
- [x] Lightning Talk (+- 5 minutos)
- [x] Avisos de trabajo / comunidades / actividades / ETC.

## ¿Cuál es tu nombre?
María Castro

## ¿Cuál es el título de tu charla?
 Configurando un proyecto Phaser en Typescript y Webpack

## Danos una descripción de tu charla (20 palabras)

Una pequeña charla sobre la configuración i

[2017-11-16 15:34] cristofer-dev commented on #56
\o/ Genial @BlackHarpy !!! Te tinca para diciembre ??

[2017-11-16 15:36] BlackHarpy commented on #56
Por supuesto! :dancer:

[2017-11-16 15:58] BlackHarpy commented on #56
Por cierto... pendientes con la fecha del proximo meetup. Háganlo el primer jueves porque el segundo es día de Star Wars :D

[2017-11-20 15:16] pankas87 opened #57 "The Wolf of Bitfinex: Usando la API de Bitfinex para crear alertas del mercado de criptomonedas"
## ¿Qué tipo de presentación quieres hacer?

- [X] Keynote (20 a 30 minutos)
- [ ] Lightning Talk (+- 5 minutos)
- [ ] Avisos de trabajo / comunidades / actividades / ETC.

## ¿Cuál es tu nombre?
Leonardo Graterol

## ¿Cuál es el título de tu charla?
The Wolf of Bitfinex: Usando la API de Bitfinex para crear alertas del mercado de criptomonedas

## Danos una descripción de tu charla (20 palabras)

[2017-11-21 02:02] cristofer-dev commented on #57
Wow! Genial @pankas87  \o/

[2017-11-21 02:19] pankas87 commented on #57
Chicos, me salió un evento importante de mi empresa el 7 de diciembre en la noche. Voy a tener que posponer mi propuesta de charla para el siguiente meetup.

[2017-11-21 02:32] cristofer-dev commented on #57
No problem! Lo agendamos para el meetup de Enero 2018! Éxito en el evento!

[2017-11-21 18:28] #54 closed, assigned to nobody

[2017-11-22 16:32] cristofer-dev commented on #57
@pankas87 reprogramado para el Jueves 14 de Dic!

[2017-11-22 16:42] enBonnet commented on #56
@BlackHarpy Reprogramamos el meetup para el jueves 14 de diciembre

[2017-11-22 16:57] pankas87 commented on #57
@cristofer-dev copiado!

[2017-11-22 17:18] BlackHarpy commented on #56
Ya, ahí estaré. Trasnochada, pero estare xD

[2017-11-27 21:38] #45 closed, assigned to fforres, luchosrock, Xabadu, rodrigoAdones, DMasterIO, cristofer-dev

[2017-11-27 21:39] #10 closed, assigned to nobody

[2017-11-28 13:08] #8 closed, assigned to nobody

[2017-11-28 23:05] cristofer-dev commented on #56
@BlackHarpy usarás un equipo con salida HDMI ? u otro conector ?

[2017-11-28 23:05] cristofer-dev commented on #57
@pankas87 usarás un equipo con salida HDMI ? u otro conector ?

[2017-11-28 23:08] BlackHarpy commented on #56
Sí, un equipo con HDMI. Solo que no es un Apple así que no se si estoy rompiendo alguna regla y me van a juzgar silenciosamente 😄

[2017-11-28 23:12] cristofer-dev commented on #56
Jajajaja! Don't worry! Todos los SO son bienvenidos! \o/

[2017-11-29 00:59] pankas87 commented on #57
@cristofer-dev HDMI

[2017-11-30 15:43] alexandereb opened #58 "[Keynote] La Nueva Era del front-end en Groupon LatAm"
## ¿Qué tipo de presentación quieres hacer?

- [x] Keynote (20 a 30 minutos)
- [ ] Lightning Talk (+- 5 minutos)
- [x] Avisos de trabajo / comunidades / actividades / ETC.

## ¿Cuál es tu nombre?
Alexander Espinoza

## ¿Cuál es el título de tu charla?
La Nueva Era del front-end en Groupon LatAm (el nacimiento de un nuevo bebe :baby:)

## Danos una descripción de tu charla (20 palabras)
Explicar a

[2017-11-30 16:37] fforres commented on #58
Esta awesome dude!! :D Metaal!!
Mandamos el aviso con el update mañana :)

[2017-12-13 19:41] #53 closed, assigned to luchosrock

[2017-12-13 20:12] cristofer-dev commented on #58
Hola @alexandereb , todo listo para mañana ?

Después del meetup enviaremos el mail a los asistentes, crees que nos puedas ayudar con el link de las slides para incluirlo ?

[2017-12-13 20:13] cristofer-dev commented on #57
Hola @pankas87, todo listo para mañana ?

Después del meetup enviaremos el mail a los asistentes, crees que nos puedas ayudar con el link de tus slides para incluirlo ?

[2017-12-13 20:14] cristofer-dev commented on #56
Hola @BlackHarpy, todo listo para mañana ?

Después del meetup enviaremos el mail a los asistentes, crees que nos puedas ayudar con el link de tus slides para incluirlo ?

[2017-12-13 21:32] alexandereb commented on #58
@cristofer-dev les puedo mandar el link mañana? antes de la charla ya que estoy afinando algunos detalles :nail_care:

[2017-12-14 00:07] cristofer-dev commented on #58
Genial! Gracias @alexandereb ! :)

[2017-12-14 13:57] BlackHarpy commented on #56
Hola Cristofer! Sí, esperemos! :smile:

Y por supuesto, aquí tienes el link! https://blackharpy.github.io/talks/phaser-typescript-webpack/index.html

[2017-12-15 00:58] cristofer-dev commented on #56
@BlackHarpy nos dejas aquí la info de reclutamiento que quieren publicar :)

[2017-12-15 00:59] cristofer-dev commented on #58
@alexandereb nos dejan el link de las slides y la info del reclutamiento para enviar el mail  :)

[2017-12-15 01:00] cristofer-dev commented on #57
@pankas87 nos dejas el link de las slides para incluirlas en el mail :)

[2017-12-15 01:48] BlackHarpy commented on #56
Si! Aquí está el enlace a nuestro anuncio https://www.getonbrd.cl/empleos/programacion/desarrollador-full-stack-simplit-solutions

[2017-12-17 05:22] pankas87 commented on #57
Hola @cristofer-dev no había visto esta notificación...

Acá está el link de los slides, saludos :-)

https://github.com/pankas87/the-wolf-of-bitfinex-slides

[2017-12-18 14:08] marcelofelman opened #60 "Desarrollo de bots con Node.js y Microsoft Bot Framework"
## ¿Qué tipo de presentación quieres hacer?

- [x] Keynote (20 a 30 minutos)
- [ ] Lightning Talk (+- 5 minutos)
- [ ] Avisos de trabajo / comunidades / actividades / ETC.

## ¿Cuál es tu nombre?
Marcelo Felman

## ¿Cuál es el título de tu charla?

'Desarrollo de bots con Node.js y Microsoft Bot Framework'

## Danos una descripción de tu charla (20 palabras)

La charla es un aterrizaje al mundo de

[2017-12-20 02:41] fforres commented on #56
Cerrando el issue!
Gracias por la charla @BlackHarpy 😄

[2017-12-20 02:41] #56 closed, assigned to nobody

[2017-12-20 02:41] fforres commented on #57
Cerrando el issue!
Gracias por la charla @pankas87  😄

[2017-12-20 02:41] #57 closed, assigned to nobody

[2017-12-20 02:41] fforres commented on #58
Cerrando el issue!
Gracias por la charla @alexandereb  😄

[2017-12-20 02:41] #58 closed, assigned to nobody

[2017-12-20 02:43] fforres commented on #55
Cerrando el issue @juanpabloaj por limpieza :p
Puede reabrirlo acá sin problemas https://github.com/Noders/Meetups/issues/new

[2017-12-20 02:44] #55 closed, assigned to nobody

[2017-12-20 02:44] #44 closed, assigned to nobody

[2017-12-20 02:44] #43 closed, assigned to nobody

[2017-12-20 02:45] #41 closed, assigned to nobody

[2017-12-20 02:46] cristofer-dev opened #61 "Torta"
Gestionar torta

[2017-12-20 02:48] cristofer-dev opened #62 "Conseguir poleras"
![captura de pantalla de 2017-12-20 00-18-45](https://user-images.githubusercontent.com/16719664/34189623-2f2522a4-e51b-11e7-8a98-883d7f89bb63.png)

- Color: Negro (O granito)

[2017-12-20 02:49] cristofer-dev opened #63 "Confirmar venue"
- Conversar con Groupon - @fforres

[2017-12-20 02:59] fforres opened #64 "Foto Navideña para collage!"
Queremos mandar una foto / collage navideña! necesitamos sus fotos locas @Noders/core

[2017-12-20 02:59] fforres commented on #64
@L0rdKras
@enBonnet
@DMaster69
@cristofer-dev
@fforres
@Xabadu
@luchosrock

[2017-12-20 03:00] fforres opened #65 "[Charla] - Estos últimos 3 aÑoders 🎂 (Y que se nos viene!)"
## ¿Qué tipo de presentación quieres hacer?

- [x] Keynote (20 a 30 minutos)

## ¿Cuál es tu nombre?
Felipe Torres  @fforres

## ¿Cuál es el título de tu charla?
`Estos últimos 3 aÑoders 🎂`

## Danos una descripción de tu charla (20 palabras)
- Un cierre de los 3 últimos años, lo que fue, y lo que se viene en `Noders`

## ¿Tienes alguna red social donde podamos contactarte?
- http://twitter.com/ff

[2017-12-20 03:08] cristofer-dev commented on #64
Movida a https://github.com/Noders/Comunicaciones/issues/22

[2017-12-20 03:08] #64 closed, assigned to nobody

[2017-12-22 17:51] pctroll opened #66 "Keynote: Aprendizajes de trabajar con Phaser"
## ¿Qué tipo de presentación quieres hacer?

- [x] Keynote (20 a 30 minutos)

## ¿Cuál es tu nombre?

Jorge Palacios

## ¿Cuál es el título de tu charla?

'Aprendizajes de trabajar con Phaser'

## Danos una descripción de tu charla (20 palabras)

Recopilatorio de técnicas y experiencias de trabajar en distintos proyectos con Phaser en el último año

## ¿Tienes alguna red social donde podamos conta

[2017-12-27 17:56] cristofer-dev commented on #60
Hola @marcelofelman muchas gracias por sumarte como charlista para el meetup!
Estamos agendando el meetup para el **Jueves 11 de Enero 2018** no te complica la fecha ?

[2017-12-27 21:09] ivolivares commented on #63
En Globant Chile estamos interesados también ✋ ... se cumple también 1 año desde el primer meetup en nuestras oficinas :1st_place_medal:

[2017-12-27 22:44] cristofer-dev commented on #63
Genial @ivolivares !
Coordinamos detalles por Mail!

[2017-12-27 22:47] cristofer-dev commented on #66
Genial @pctroll ! Nos Vemos en febrero!

[2017-12-29 18:56] marcelofelman commented on #60
Ya te puedo confirmar que 11 de enero me queda perfecto

[2017-12-31 13:41] cristofer-dev commented on #60
Gracias @marcelofelman !
Nos vemos el 11 entonces! :)

[2018-01-03 02:19] #63 closed, assigned to cristofer-dev

[2018-01-03 02:20] #61 closed, assigned to enBonnet

[2018-01-03 02:21] #62 closed, assigned to cristofer-dev

[2018-01-03 18:00] nicoavila opened #67 "Una mirada rápida a WebAssembly"
## ¿Qué tipo de presentación quieres hacer?

- [x] Lightning Talk (+- 5 minutos)

## ¿Cuál es tu nombre?
Nicolás Ávila

## ¿Cuál es el título de tu charla?
'Una mirada rápida a WebAssembly'

## Danos una descripción de tu charla (20 palabras)
Definición, importancia y potencial de WebAssembly

## ¿Tienes alguna red social donde podamos contactarte?

* [https://twitter.com/nicoavila_a](https://twit

[2018-01-04 03:27] Yhozen opened #68 "Webs descentralizadas via blockchain y torrent"
## ¿Qué tipo de presentación quieres hacer?
- [ ] Keynote (20 a 30 minutos)
- [x] Lightning Talk (+- 5 minutos)
- [ ] Avisos de trabajo / comunidades / actividades / ETC.

## ¿Cuál es tu nombre?
Gabriel Pérez

## ¿Cuál es el título de tu charla?
Webs descentralizadas via blockchain y torrent

## Danos una descripción de tu charla (20 palabras)

Quiero presentar un proyecto propio llamado, por el m

[2018-01-04 18:50] luchosrock commented on #68
@Yhozen muchas gracias por contactarnos!! Es posible que agendemos tu charla para Febrero? Cuéntanos cómo está tu disponibilidad para la primera o segunda semana de ese mes 😄
Quedamos atentos!!

Saludos!!

[2018-01-04 21:49] cristofer-dev commented on #67
Hola @nicoavila , la Lightning se ve super cool! que tal para presentarla el **11 de Enero** ?

[2018-01-05 01:22] nicoavila commented on #67
Hola @cristofer-dev. Claro! El Jueves 11 de Enero ahi estaré

[2018-01-07 03:02] Yhozen commented on #68
Hasta el momento si podría en febrero, si llegara a no poder aviso por aca

[2018-01-09 20:33] atma opened #69 "[Charla] Node.js: with performance in mind"
## ¿Qué tipo de presentación quieres hacer?

- [x] Keynote (20 a 30 minutos)

## ¿Cuál es tu nombre?

Oleh Burkhay @atma

## ¿Cuál es el título de tu charla?

`Node.js: with performance in mind`

## Danos una descripción de tu charla (20 palabras)

Compartiendo experiencia de uso de Node en una compañía tan grande como Mercado Libre donde performance tiene impacto directo a negocio.

## ¿Tienes al

[2018-01-10 00:18] cristofer-dev commented on #60
Hola @marcelofelman esta todo listo para este jueves! \o/

Post meetup enviaremos un resumen y nos gustaría incluir las **slides**, **links** o **información** que quieras hacer llegar a la comunidad, seria genial si nos dejas aquí la información.

Gracias de nuevo por apoyarnos y nos vemos el jueves. :)

[2018-01-10 00:18] cristofer-dev commented on #65
Hola @fforres esta todo listo para este jueves! \o/

Post meetup enviaremos un resumen y nos gustaría incluir las **slides**, **links** o **información** que quieras hacer llegar a la comunidad, seria genial si nos dejas aquí la información.

Gracias de nuevo por apoyarnos y nos vemos el jueves. :)

[2018-01-10 00:19] cristofer-dev commented on #67
Hola @nicoavila esta todo listo para este jueves! \o/

Post meetup enviaremos un resumen y nos gustaría incluir las **slides**, **links** o **información** que quieras hacer llegar a la comunidad, seria genial si nos dejas aquí la información.

Gracias de nuevo por apoyarnos y nos vemos el jueves. :)

[2018-01-10 00:20] cristofer-dev commented on #69
Hola @atma esta todo listo para este jueves! \o/

Post meetup enviaremos un resumen y nos gustaría incluir las **slides**, **links** o **información** que quieras hacer llegar a la comunidad, seria genial si nos dejas aquí la información.

Gracias de nuevo por apoyarnos y nos vemos el jueves. :)

[2018-01-10 03:17] fforres opened #70 "Actualizar typeform"
- Updatear integracion de typeform para las invitaciones automaticas a la nueva API
- Updatear el texto de typeform para que incluya el codigo de conducta

[2018-01-10 12:08] nicoavila commented on #67
Hola @cristofer-dev! Genial! Estoy muy contento de contar con la oportunidad
Les enviaré las slides de la lightning dentro del día
Gracias a ustedes. Hasta mañana!

[2018-01-10 20:40] marcelofelman commented on #60
Hecho, dale!

[2018-01-11 03:47] nicoavila commented on #67
Hola! Adjunto las slides y repositorio con código de la lightning de mañana: **Una mirada rápida a WebAssembly**

* [SLIDES](https://github.com/nicoavila/una_mirada_rapida_webassembly/raw/master/slides/lightning_slides.pdf)
* [REPOSITORIO](https://github.com/nicoavila/una_mirada_rapida_webassembly)

Hasta mañana!

[2018-01-11 04:02] enBonnet commented on #67
Gracias @nicoavila nos vemos hoy!

Gracias por formar parte del tercer aniversario.

[2018-01-12 04:16] bitnenfer opened #71 "Jugando con Shaders en WebGL"
## ¿Qué tipo de presentación quieres hacer?

- [x] Keynote (20 a 30 minutos)
- [ ] Lightning Talk (+- 5 minutos)
- [ ] Avisos de trabajo / comunidades / actividades / ETC.

## ¿Cuál es tu nombre?
Felipe Alfonso

## ¿Cuál es el título de tu charla?
Jugando con Shaders en WebGL

## Danos una descripción de tu charla (20 palabras)

Intro a WebGL enfocado a programación de shaders utilizando GLSL. Toc

[2018-01-12 14:14] cristofer-dev commented on #60
@marcelofelman Gracias por ser parte el meetup y compartir tu experiencia, tu charla estuvo genial y estaremos encantados de recibirte nuevamente cuando gustes.

Saludos y gracias de parte de la Comunidad de Noders!

[2018-01-12 14:15] cristofer-dev commented on #65
@fforres Gracias por ser parte el meetup y compartir tu experiencia, tu charla estuvo genial y estaremos encantados de recibirte nuevamente cuando gustes.

Saludos y gracias de parte de la Comunidad de Noders!

[2018-01-12 14:16] cristofer-dev commented on #67
@nicoavila Gracias por ser parte el meetup y compartir tu experiencia, tu charla estuvo genial y estaremos encantados de recibirte nuevamente cuando gustes.

Saludos y gracias de parte de la Comunidad de Noders!

[2018-01-12 14:38] cristofer-dev commented on #69
@atma Gracias por ser parte el meetup y compartir tu experiencia, tu charla estuvo genial y estaremos encantados de recibirte nuevamente cuando gustes.

Saludos y gracias de parte de la Comunidad de Noders!

[2018-01-12 16:15] cristofer-dev commented on #66
Hola @pctroll Queremos hacer el meetup el **Jue 08 de Feb** te viene bien esa fecha?

[2018-01-12 16:15] cristofer-dev commented on #68
Hola @Yhozen Queremos hacer el meetup el **Jue 08 de Feb** te viene bien esa fecha?

[2018-01-12 16:30] cristofer-dev commented on #71
Hola @bitnenfer queremos hacer el meetup el **Jue 08 de Feb** te viene bien esa fecha?

[2018-01-12 16:34] fforres commented on #65
Gracias dude :)
EL meetup estuvo genial

[2018-01-12 18:19] bitnenfer commented on #71
Hola, @cristofer-dev.
El Jueves 8 de Febrero esta bien para mi. Gracias!
Saludos

[2018-01-12 18:26] nicoavila commented on #67
Gracias a ustedes por darme la oportunidad. Son una excelente comunidad.
Me anotaré con otras cosas para el futuro.

Saludos!! 😃

[2018-01-12 23:08] pctroll commented on #66
Hola muchachos,

Sí! =)

------------------------------------------
*Jorge Palacios*
http://jorge.palacios.co/

On Fri, Jan 12, 2018 at 1:15 PM, Cristofer <notifications@github.com> wrote:

[2018-01-14 21:25] Yhozen commented on #68
Si puedo esa fecha

[2018-01-14 22:55] luchosrock commented on #68
Excelente!!! Nos vemos el 8! 😄  Saludos!!

[2018-01-15 14:50] luchosrock commented on #71
Excelente!! Nos vemos el 8 😃 Saludos!!

[2018-01-17 15:34] #69 closed, assigned to nobody

[2018-01-17 15:34] #67 closed, assigned to nobody

[2018-01-17 15:34] #65 closed, assigned to nobody

[2018-01-17 15:35] #60 closed, assigned to nobody

[2018-01-17 23:00] katguzmann opened #72 "CSS Grid - Marzo (2018)"
## ¿Qué tipo de presentación quieres hacer?

- [x] Keynote (20 a 30 minutos)
- [ ] Lightning Talk (+- 5 minutos)
- [ ] Avisos de trabajo / comunidades / actividades / ETC.

## ¿Cuál es tu nombre?
Kat Guzmán

## ¿Cuál es el título de tu charla?

Mejorando la experiencia Front-End con CSS Grid

## Danos una descripción de tu charla (20 palabras)

En la charla se expondrá como CSS Grid cambia la mane

[2018-01-18 00:16] enBonnet commented on #72
Wojo! Yes! :smiley:

[2018-01-18 00:43] cristofer-dev commented on #72
Wow! Gracias @katguzmann por sumarte como charlista y compartir con nosotros tú experiencia! \o/
Nos vemos en el meetup de Marzo!

[2018-01-19 02:00] pankas87 commented on #66
Grande [edited] @pctroll!

[2018-01-19 02:03] Xabadu commented on #66
Hola @pankas87,

Editamos tu comentario, ya que va contra el código de conducta. Por favor no los hagas a futuro.

[2018-01-19 02:05] pankas87 commented on #66
Hola @Xabadu! Sorry, Jorge es amigo mío y es apodo de uso entre nosotros, pero entiendo perfectamente, no lo repetiré. Saludos

[2018-01-19 02:07] Xabadu commented on #66
@pankas87 Gracias!

[2018-01-23 13:49] BlackHarpy opened #73 "Keynote: Construyendo aplicaciones web para escritorio con Electron"
## ¿Qué tipo de presentación quieres hacer?

- [x] Keynote (20 a 30 minutos)
- [ ] Lightning Talk (+- 5 minutos)
- [ ] Avisos de trabajo / comunidades / actividades / ETC.

## ¿Cuál es tu nombre?
María Castro

## ¿Cuál es el título de tu charla?

Construyendo aplicaciones web para escritorio con Electron

## Danos una descripción de tu charla (20 palabras)

Un overview de Electron, cómo funciona y

[2018-01-23 13:51] cristofer-dev commented on #73
Wow! Gracias @BlackHarpy por sumarte como charlista y compartir con nosotros tú experiencia! \o/
Nos vemos en el meetup de Marzo! ;)

[2018-01-25 21:49] lcjury opened #74 "Event loop y asincronia en otros universos"
## ¿Qué tipo de presentación quieres hacer?

- [X] Keynote (20 a 30 minutos)
- [ ] Lightning Talk (+- 5 minutos)
- [ ] Avisos de trabajo / comunidades / actividades / ETC.

## ¿Cuál es tu nombre?
Luis Jury

## ¿Cuál es el título de tu charla?
Event loop y asincronia en otros universos

## Danos una descripción de tu charla (20 palabras)
Una pequeña revisión de como funciona el Event loop en Javasc

[2018-01-25 22:01] fforres commented on #74
Awesome @lcjury !! 👍
Buenísimo topic para la charla!!

[2018-01-25 22:02] enBonnet commented on #74
Excelente! @lcjury Te gustaría hacer esta charla en el meetup de abril? 🥇

[2018-01-25 22:12] lcjury commented on #74
Añopa para abril :)!

[2018-01-27 20:13] pankas87 opened #75 "Programación reactiva con RxJS y observables"
## ¿Qué tipo de presentación quieres hacer?

- [x] Keynote (20 a 30 minutos)
- [ ] Lightning Talk (+- 5 minutos)
- [ ] Avisos de trabajo / comunidades / actividades / ETC.

## ¿Cuál es tu nombre?
Leonardo Graterol

## ¿Cuál es el título de tu charla?
Programación reactiva con RxJS y observables

## Danos una descripción de tu charla (20 palabras)
Manejando eventos asíncronos de forma reactiva, usa

[2018-01-27 20:18] cristofer-dev commented on #75
Genial @pankas87 por sumarte como charlista y compartir con nosotros tú experiencia! \o/
Te tinca Abril ?

[2018-01-27 20:22] pankas87 commented on #75
Sí, Abril está perfecto

[2018-01-27 20:23] cristofer-dev commented on #75
Gracias! 👍

[2018-01-30 10:20] pctroll opened #76 "Introducción a la IA de juegos con Phaser"
## ¿Qué tipo de presentación quieres hacer?

- [x] Keynote (20 a 30 minutos)
- [ ] Lightning Talk (+- 5 minutos)
- [ ] Avisos de trabajo / comunidades / actividades / ETC.

## ¿Cuál es tu nombre?
Jorge Palacios

## ¿Cuál es el título de tu charla?

Introducción a la IA de juegos con Phaser

## Danos una descripción de tu charla (20 palabras)

Ejemplos prácticos de IA para juegos utilizando JS con

[2018-02-02 02:53] cristofer-dev commented on #76
Genial @pctroll por sumarte como charlista y compartir con nosotros tú experiencia! \o/
Te tinca Abril ?

[2018-02-06 02:48] cristofer-dev commented on #66
Todo listo para el Jueves @pctroll ! Te esperamos! \o/

[2018-02-06 02:48] cristofer-dev commented on #68
Todo listo para el Jueves @Yhozen ! Te esperamos! \o/

[2018-02-06 02:49] cristofer-dev commented on #71
Todo listo para el Jueves @bitnenfer  ! Te esperamos! \o/

[2018-02-06 11:53] pctroll commented on #76
Sí, justo coloqué Abril en comentarios jaja :)

------------------------------------------
*Jorge Palacios*
http://jorge.palacios.co/

On Thu, Feb 1, 2018 at 11:53 PM, Cristofer <notifications@github.com> wrote:

[2018-02-06 12:45] cristofer-dev commented on #76
Cierto! Siento lo despistado! Anotado para Abril ! :) Y gracias !

[2018-02-06 23:31] pctroll commented on #76
No hay problema, jaja.

Nos vemos!!
[insert celebration dab here]

------------------------------------------
*Jorge Palacios*
http://jorge.palacios.co/

On Tue, Feb 6, 2018 at 9:46 AM, Cristofer <notifications@github.com> wrote:

[2018-02-09 03:05] cristofer-dev commented on #66
@pctroll Gracias por ser parte el meetup y compartir tu experiencia, tu charla estuvo genial y estaremos encantados de recibirte nuevamente cuando gustes.

Enviaremos un resumen y nos gustaría incluir las slides de tu presentación, seria genial si nos dejas aquí la información

Saludos y gracias de parte de la Comunidad de Noders!

[2018-02-09 03:06] cristofer-dev commented on #68
@Yhozen Gracias por ser parte el meetup y compartir tu experiencia, tu charla estuvo genial y estaremos encantados de recibirte nuevamente cuando gustes.

Enviaremos un resumen y nos gustaría incluir las slides de tu presentación, seria genial si nos dejas aquí la información

Saludos y gracias de parte de la Comunidad de Noders!

[2018-02-09 03:06] cristofer-dev commented on #71
@bitnenfer Gracias por ser parte el meetup y compartir tu experiencia, tu charla estuvo genial y estaremos encantados de recibirte nuevamente cuando gustes.

Enviaremos un resumen y nos gustaría incluir las slides de tu presentación, seria genial si nos dejas aquí la información

Saludos y gracias de parte de la Comunidad de Noders!

[2018-02-09 12:55] bitnenfer commented on #71
@cristofer-dev Muchas gracias por la oportunidad, fue muy entretenido y agradable.

[https://github.com/bitnenfer/noders-gl/](https://github.com/bitnenfer/noders-gl/) Este es el repositorio donde están las slides en formato PDF y ademas de la version web.

Saludos!

[2018-02-09 13:24] pctroll commented on #66
Buen día chicos,

Muchas gracias por recibirme. Estaré actualizando la presentación para
hacerla más amigable al modo offline de las personas que no pudieron
asistir y quieran sacarle mayor provecho. Espero tenerla lista durante el
fin de semana.

------------------------------------------
*Jorge Palacios*
http://jorge.palacios.co/

2018-02-09 0:05 GMT-03:00 Cristofer <notifications@github.com>:

[2018-02-10 15:23] Yhozen commented on #68
Gracias por la oportunidad! Aquí dejo las [slides](https://drive.google.com/file/d/136DINLRsj4ejv3IdNnWUu0cbPmv4VQTL/view?usp=drivesdk) que usé

[2018-02-10 15:23] #68 closed, assigned to luchosrock

[2018-02-14 02:21] #71 closed, assigned to luchosrock

[2018-02-14 02:21] #66 closed, assigned to cristofer-dev

[2018-02-14 02:22] #70 closed, assigned to fforres

[2018-02-18 15:12] tatymoly opened #77 "Creando escenas 3D con Three.js"
## ¿Qué tipo de presentación quieres hacer?

- [ ] Keynote (20 a 30 minutos)
- [x] Lightning Talk (+- 5 minutos)
- [ ] Avisos de trabajo / comunidades / actividades / ETC.

## ¿Cuál es tu nombre?
Tatiana Molina

## ¿Cuál es el título de tu charla?

Creando escenas 3D con Three.js

## Danos una descripción de tu charla (20 palabras)

Ejemplo básico de seteo de escena, camara, iluminación y renderiz

[2018-02-19 11:52] enBonnet commented on #77
Yaju! Excelente taty 😄

[2018-02-20 22:28] fforres commented on #77
Dope!!! 😄
QUe lata no estar ahi para verla :(

[2018-02-21 02:22] fforres opened #79 "TEST"
## ¿Qué tipo de presentación quieres hacer?

- [ ] Keynote (20 a 30 minutos)
- [ ] Lightning Talk (+- 5 minutos)
- [ ] Avisos de trabajo / comunidades / actividades / ETC.

## ¿Cuál es tu nombre?

## ¿Cuál es el título de tu charla?

## Danos una descripción de tu charla (20 palabras)

## ¿Tienes alguna red social donde podamos contactarte?

## ¿Representas a alguna compañía o empresa?

## ¿Qué ti

[2018-02-21 02:23] fforres commented on #79
## TEST 2 :D

[2018-02-21 02:23] #79 closed, assigned to nobody

[2018-03-08 13:33] cristofer-dev commented on #72
Hola @katguzmann , la sala para hoy es la A302!
Nos vemos en el meetup! :)

[2018-03-08 13:33] cristofer-dev commented on #73
Hola @BlackHarpy, la sala para hoy es la A302!
Nos vemos en el meetup! :)

[2018-03-08 13:33] cristofer-dev commented on #77
Hola @tatymoly , la sala para hoy es la A302!
Nos vemos en el meetup! :)

[2018-03-08 13:39] katguzmann commented on #72
Gracias @cristofer-dev , nos vemos! :)

[2018-03-08 13:40] tatymoly commented on #77
:heart: gracias cris :3

[2018-03-08 13:53] BlackHarpy commented on #73
Muchas gracias por la info!

Nos vemos allá! :purple_heart:

[2018-03-09 12:26] cristofer-dev commented on #77
@tatymoly Gracias por ser parte el meetup y compartir tu experiencia, tu charla estuvo genial y estaremos encantados de recibirte nuevamente cuando gustes.

Enviaremos un resumen y nos gustaría incluir las slides de tu presentación, seria genial si nos dejas aquí la información

Saludos y gracias de parte de la Comunidad de Noders!

[2018-03-09 12:26] cristofer-dev commented on #73
@BlackHarpy Gracias por ser parte el meetup y compartir tu experiencia, tu charla estuvo genial y estaremos encantados de recibirte nuevamente cuando gustes.

Enviaremos un resumen y nos gustaría incluir las slides de tu presentación, seria genial si nos dejas aquí la información

Saludos y gracias de parte de la Comunidad de Noders!

[2018-03-09 12:27] cristofer-dev commented on #72
@katguzmann Gracias por ser parte el meetup y compartir tu experiencia, tu charla estuvo genial y estaremos encantados de recibirte nuevamente cuando gustes.

Enviaremos un resumen y nos gustaría incluir las slides de tu presentación, seria genial si nos dejas aquí la información

Saludos y gracias de parte de la Comunidad de Noders!

[2018-03-09 12:34] tatymoly commented on #77
Hola @cristofer-dev  gracias por el apoyo 😄 . Dejo mis slides y repositorios:

**- Siledes:** http://slides.com/tatianamolina/threejs-1#/
**- Repo 1:** https://github.com/tatymoly/threejs-basics
**- Repo 2:** https://github.com/tatymoly/three_monkey
**- Link Threejs:** https://threejs.org/

[2018-03-09 17:31] katguzmann commented on #72
Ningún problema Cristofer, ¡subo las slides durante el fin de semana! :)

[2018-03-10 05:01] BlackHarpy commented on #73
Hola Cristofer. Gracias a ud por recibirme.

Acá esta el enlace a los slides de la charla https://blackharpy.github.io/talks/electron-basics/index.html#/

Saludos!

[2018-03-12 18:16] DvdQzd opened #80 "Creando una sala online 3D con websockets y three.js"
## ¿Qué tipo de presentación quieres hacer?

- [ ] Keynote (20 a 30 minutos)
- [x] Lightning Talk (+- 5 minutos)
- [ ] Avisos de trabajo / comunidades / actividades / ETC.

## ¿Cuál es tu nombre?
David Quezada

## ¿Cuál es el título de tu charla?

Creando una sala online 3D con websockets y three.js

## Danos una descripción de tu charla (20 palabras)

Pequeño ejemplo de como sería crear una sala

[2018-03-13 02:52] pankas87 commented on #75
Hola @cristofer-dev, me surgieron algunas cosas y ando trabajando en varios proyectos, me queda super difícil dar la charla en Abril ¿La podemos mover para Mayo?

[2018-03-13 13:32] katguzmann commented on #72
Aquí están las slides http://slides.com/katguzman/cssgrid :)

[2018-03-13 13:36] cristofer-dev commented on #73
Gracias de nuevo @BlackHarpy ! \o/

[2018-03-13 13:36] #73 closed, assigned to cristofer-dev

[2018-03-13 13:36] cristofer-dev commented on #72
Gracias @katguzmann \o/

[2018-03-13 13:36] #72 closed, assigned to cristofer-dev

[2018-03-13 13:58] cristofer-dev commented on #77
Gracias @tatymoly \o/

[2018-03-13 13:58] #77 closed, assigned to nobody

[2018-03-13 16:33] cristofer-dev commented on #80
Genial @BloodyLink, Gracias por sumarte como charlista! Dejamos agendado para Junio! \o/

[2018-03-13 16:34] cristofer-dev commented on #75
Hola @pankas87 , claro, ningún problema.
La movemos a Mayo y gracias de nuevo por apoyarnos y compartir tu experiencia con la comunidad! \o/

[2018-03-18 01:57] marcelofelman opened #81 "Cómo trabajar desde casa sin volverte loco"
## ¿Qué tipo de presentación quieres hacer?

- [ ] Keynote (20 a 30 minutos)
- [x] Lightning Talk (+- 5 minutos)
- [ ] Avisos de trabajo / comunidades / actividades / ETC.

## ¿Cuál es tu nombre?
Marcelo Felman

## ¿Cuál es el título de tu charla?

'Cómo trabajar desde casa sin volverte loco'

## Danos una descripción de tu charla (20 palabras)

Quisiera compartir mi experiencia como developer/ing

[2018-03-22 12:20] cristofer-dev commented on #76
Hola @pctroll estamos coordinando el espacio para el 05 o 12 de abril, te complica alguna de las fechas ?

[2018-03-22 12:21] cristofer-dev commented on #74
Hola @lcjury  estamos coordinando el espacio para el 05 o 12 de abril, te complica alguna de las fechas ?

[2018-03-22 12:22] cristofer-dev commented on #81
Hola @marcelofelman gracias por sumarte nuevamente como charlista y compartir tu experiencia con la comunidad. Estamos coordinando el espacio para el 05 o 12 de abril, te complica alguna de las fechas ?

[2018-03-22 12:32] pctroll commented on #76
Hola Cristofer,

Ambas me quedan bien.

------------------------------------------
*Jorge Palacios*
http://jorge.palacios.co/

On Thu, Mar 22, 2018 at 9:21 AM, Cristofer <notifications@github.com> wrote:

[2018-03-22 18:28] lcjury commented on #74
@cristofer-dev Ningún problema ;)!

[2018-03-22 18:59] marcelofelman commented on #81
Perfecto! En ambas fechas puedo!

[2018-03-22 19:29] mortegac commented on #74
Buen tema @lcjury  ahora a esperar la charla..

[2018-03-22 20:05] fforres commented on #74
Mi cerebro acaba de cachar que me voy a perder la charla de @lcjury  :(

[2018-03-23 02:19] lcjury commented on #74
@fforres Nunca es tarde para empezar a hacer streaming :P

[2018-03-23 02:24] tatymoly commented on #74
@mortegac  a ver si a esa si vas :P. Podemos hablar con Ender para tratar de hacer streaming. Yo también me la perderé... 💔

[2018-03-23 02:32] mortegac commented on #74
@tatymoly. Pero porque me extrañas tanto. 😜    Si en la burgerjs estuvimos al lado.     No me. pierdo La próxima ☺️

[2018-03-27 14:27] pctroll opened #82 "Introducción al desarrollo de juegos multi-player"
## ¿Qué tipo de presentación quieres hacer?

- [x] Keynote (20 a 30 minutos)
- [ ] Lightning Talk (+- 5 minutos)
- [ ] Avisos de trabajo / comunidades / actividades / ETC.

## ¿Cuál es tu nombre?
Jorge Palacios

## ¿Cuál es el título de tu charla?

Introducción al desarrollo de juegos multi-player

## Danos una descripción de tu charla (20 palabras)

Introducción al desarrollo de juegos multi-play

[2018-03-29 21:11] cristofer-dev commented on #76
Hola @pctroll ya tenemos fecha y lugar, para el meetup, **Jueves 12 de abril** en **Centro Comunitario Bellavista**, Constitución 85, Providencia. (Metro Baquedano) \o/

[2018-03-29 21:12] cristofer-dev commented on #74
Hola @lcjury ya tenemos fecha y lugar, para el meetup, **Jueves 12 de abril** en **Centro Comunitario Bellavista**, Constitución 85, Providencia. (Metro Baquedano) \o/

[2018-03-29 21:12] cristofer-dev commented on #81
Hola @marcelofelman ya tenemos fecha y lugar, para el meetup, **Jueves 12 de abril** en **Centro Comunitario Bellavista**, Constitución 85, Providencia. (Metro Baquedano) \o/

[2018-04-01 02:17] marcelofelman commented on #81
Excelente! Ahí nos vemos 🤙

[2018-04-03 03:53] fforres commented on #81
Sorry que haga un highjack del issue, pero tendras un correo donde contactarte @marcelofelman ?

[2018-04-03 15:34] marcelofelman commented on #81
mfelman [at] microsoft

[2018-04-04 16:06] julia-leyton opened #83 "Stan, monitoreando aplicaciones Nodejs"
## ¿Qué tipo de presentación quieres hacer?

- [x] Keynote (20 a 30 minutos)
- [ ] Lightning Talk (+- 5 minutos)
- [ ] Avisos de trabajo / comunidades / actividades / ETC.

## ¿Cuál es tu nombre?
Julia Leyton
## ¿Cuál es el título de tu charla?

Stan, monitoreando aplicaciones Nodejs en 20 minutos (o menos)

## Danos una descripción de tu charla (20 palabras)

Presentación de Instana, que usa Mach

[2018-04-04 19:32] julia-leyton commented on #83
chicos, les dejo mi mail por si acaso: julia@impulseit.com

[2018-04-05 13:49] marcelofelman commented on #81
Estimadísimos, voy a estar llegando al meetup aprox. a las 19:30hs, ojalá antes. Lo aclaro para no tomar la primer charla. Espero que no haya problema!

[2018-04-06 15:02] tatymoly commented on #81
Perfecto @marcelofelman no hay problema. Te esperamos!! 😄

[2018-04-06 15:07] tatymoly commented on #83
Hola @julia-leyton de acuerdo a lo conversado te vamos a contactar por correo para coordinarnos. Gracias!! 😄❤️

[2018-04-06 15:28] tatymoly commented on #82
Hola @pctroll  muchas gracias por tu postulación. Aún estamos revisando y coordinando las fechas, por lo que no podemos confirmarte que quedará para Mayo. Te estaremos informando al respecto. Gracias!! 😃

[2018-04-09 17:33] tatymoly opened #84 "Introducción a Two.js"
## ¿Qué tipo de presentación quieres hacer?

- [x] Keynote (20 a 30 minutos)
- [ ] Lightning Talk (+- 5 minutos)
- [ ] Avisos de trabajo / comunidades / actividades / ETC.

## ¿Cuál es tu nombre?

Tatiana Molina

## ¿Cuál es el título de tu charla?

Introducción a Two.js

## Danos una descripción de tu charla (20 palabras)

Conceptos y ejemplos básicos con Two.js ✏️

## ¿Tienes alguna red social d

[2018-04-11 16:07] betacar opened #85 "Feathers && NuxtJS: the last real-time™ Jedis"
## ¿Qué tipo de presentación quieres hacer?

- [X] Keynote (20 a 30 minutos)
- [ ] Lightning Talk (+- 5 minutos)
- [ ] Avisos de trabajo / comunidades / actividades / ETC.

## ¿Cuál es tu nombre?
Carlos Betancourt

## ¿Cuál es el título de tu charla?
Feathers && NuxtJS: the last real-time™ Jedis

## Danos una descripción de tu charla (20 palabras)
A través de Feathers, Nuxt, Vue, y Vuex, construir

[2018-04-12 01:47] cristofer-dev commented on #85
Genial @betacar por sumarte como charlista y compartir con nosotros tú experiencia! \o/
Estamos coordinando fecha y lugar para los próximos meetups, apenas tengamos la información te confirmamos!

[2018-04-12 01:48] fforres commented on #85
Que awesome! :D  Y que fomo al mismo tiempo :'(

[2018-04-12 14:42] aljvilla opened #86 "Promise y manejo de sincronía | El gran dolor de cabeza de los programadores de NodeJs"
## ¿Qué tipo de presentación quieres hacer?

- [x] Keynote (20 a 30 minutos)
- [ ] Lightning Talk (+- 5 minutos)
- [ ] Avisos de trabajo / comunidades / actividades / ETC.

## ¿Cuál es tu nombre?
Manuel Villafañe

## ¿Cuál es el título de tu charla?
Promise y manejo de sincronía
El gran dolor de cabeza de los programadores de NodeJs

## Danos una descripción de tu charla (20 palabras)
Es bien sabi

[2018-04-12 14:43] cristofer-dev commented on #86
Genial @aljvilla por sumarte como charlista y compartir con nosotros tú experiencia! \o/
Estamos coordinando fecha y lugar para los próximos meetups, apenas tengamos la información te confirmamos!

[2018-04-13 12:51] cristofer-dev commented on #74
@lcjury gracias por ser parte el meetup y compartir tu experiencia, tu charla estuvo genial y estaremos encantados de recibirte nuevamente cuando gustes.

Enviaremos un resumen y nos gustaría incluir las slides de tu presentación, seria genial si nos dejas aquí la información

Saludos y gracias de parte de la Comunidad de Noders!

[2018-04-13 12:51] cristofer-dev commented on #76
@pctroll gracias por ser parte el meetup y compartir tu experiencia, tu charla estuvo genial y estaremos encantados de recibirte nuevamente cuando gustes.

Enviaremos un resumen y nos gustaría incluir las slides de tu presentación, seria genial si nos dejas aquí la información

Saludos y gracias de parte de la Comunidad de Noders!

[2018-04-13 12:51] cristofer-dev commented on #81
@marcelofelman gracias por ser parte el meetup y compartir tu experiencia, tu charla estuvo genial y estaremos encantados de recibirte nuevamente cuando gustes.

Enviaremos un resumen y nos gustaría incluir las slides de tu presentación, seria genial si nos dejas aquí la información

Saludos y gracias de parte de la Comunidad de Noders!

[2018-04-13 13:14] marcelofelman commented on #81
Muchas gracias a ustedes. Un placer como siempre!

Acá el contenido: https://github.com/marcelofelman/presentations/blob/master/Como%20trabajar%20desde%20tu%20casa.pdf

Abrazo!

[2018-04-13 21:05] pctroll commented on #76
Hola muchachos, estaré publicando todo el material en el siguiente repositorio:

https://github.com/pctroll/aigamesphaser

[2018-04-16 22:58] cristofer-dev commented on #74
Gracias @lcjury \o/

[eventloop.pdf](https://github.com/Noders/Meetups/files/1917597/eventloop.pdf)

[2018-04-16 23:12] #74 closed, assigned to nobody

[2018-04-16 23:12] #76 closed, assigned to nobody

[2018-04-16 23:12] cristofer-dev commented on #81
Gracias @marcelofelman !

[2018-04-16 23:12] #81 closed, assigned to nobody

[2018-04-18 12:37] aljvilla commented on #86
Perfecto quedo atento saludos . . .

[2018-04-18 17:35] cristofer-dev commented on #85
Hola @betacar gracias de nuevo por sumarte como charlista. Ya tenemos fecha y lugar, **jueves 10 de mayo a las 19:00** en ***constitución 85, providencia*. Nos cuentas si puedes en esa fecha.

[2018-04-18 17:35] cristofer-dev commented on #83
Hola @julia-leyton gracias de nuevo por sumarte como charlista. Ya tenemos fecha y lugar, **jueves 10 de mayo a las 19:00** en ***constitución 85, providencia*. Nos cuentas si puedes en esa fecha.

[2018-04-18 17:36] cristofer-dev commented on #75
Hola @pankas87 gracias de nuevo por sumarte como charlista. Ya tenemos fecha y lugar, **jueves 10 de mayo a las 19:00** en ***constitución 85, providencia*. Nos cuentas si puedes en esa fecha.

[2018-04-18 17:45] julia-leyton commented on #83
Hola Cristofer,
gracias a ustedes por recibirnos, ningún problema el 10 de mayo!

[2018-04-20 00:37] pankas87 commented on #75
Hola @cristofer-dev, sí, si puedo, alllí estaré.

Una consulta, este sprint en el trabajo estuve implementando algunas cosas en express que me gustaría exponer antes que esto de RxJS ¿Puedo cambiar el tema de la charla?

[2018-04-20 13:23] betacar commented on #85
@cristofer-dev ¡Perfecto! Cuenten conmigo.

[2018-04-20 13:34] luchosrock commented on #75
@pankas87 También puedes crear otro issue con el tema nuevo y dejar esta charla para otra ocasión (le sacamos el tag de mayo y se lo asignamos al nuevo issue). Qué te parece? 😄

[2018-04-20 23:46] pankas87 commented on #75
@luchosrock perfecto! Ahora creo el otro issue!

[2018-04-25 17:43] pankas87 opened #87 "Dale sabor a tu JS con un poco de Curry(ing)()"
## ¿Qué tipo de presentación quieres hacer?

- [x] Keynote (20 a 30 minutos)
- [ ] Lightning Talk (+- 5 minutos)
- [ ] Avisos de trabajo / comunidades / actividades / ETC.

## ¿Cuál es tu nombre?
Leonardo Graterol

## ¿Cuál es el título de tu charla?
Dale sabor a tu JS con un poco de Curry(ing)()

## Danos una descripción de tu charla (20 palabras)
La charla muestra un caso de uso práctico donde s

[2018-04-25 17:44] pankas87 commented on #75
Listo muchachos, ya creé el otro issue

[2018-04-27 15:52] cristofer-dev commented on #75
Gracias @pankas87 !!! Agendamos la nueva issue para ser presentada en MAYO :)

[2018-04-27 15:55] cristofer-dev commented on #87
Gracias @pankas87 ! Nos vemos el **jueves 10 de mayo a las 19:00** en **constitución 85, providencia.** Nos cuentas si puedes en esa fecha.

[2018-04-27 15:55] pankas87 commented on #87
Hola @cristofer-dev, sí allá estaré, nos vemos!

[2018-05-02 00:57] YerkoPalma opened #88 "Introducción a service workers"
## ¿Qué tipo de presentación quieres hacer?

- [x] Keynote (20 a 30 minutos)
- [ ] Lightning Talk (+- 5 minutos)
- [ ] Avisos de trabajo / comunidades / actividades / ETC.

## ¿Cuál es tu nombre?
Yerko Palma

## ¿Cuál es el título de tu charla?

Introducción a service workers

## Danos una descripción de tu charla (20 palabras)
Un repaso rápido por las principales caracteristicas de service worker

[2018-05-02 02:16] cristofer-dev commented on #88
Gracias @YerkoPalma por sumarte como charlista y compartir con nosotros tú experiencia! \o/
Te tinca **Julio** ?

[2018-05-02 02:41] YerkoPalma commented on #88
Juio estaria perfecto :wink:

[2018-05-05 22:55] cristofer-dev commented on #84
Gracias @tatymoly por sumarte como charlista y compartir con nosotros tú experiencia! \o/
Te parece bien presentar en **Junio** ?

[2018-05-05 22:56] cristofer-dev commented on #82
Gracias @pctroll por sumarte como charlista y compartir con nosotros tú experiencia! \o/
Te parece bien presentar en **Junio** ?

[2018-05-07 14:18] tatymoly commented on #84
Hola @cristofer-dev me complica un poco Junio, podría dejar on hold esta charla? Si quieres cierra el issue y la vuelvo a abrir apenas tenga mas tiempo 😓

[2018-05-07 15:55] aljvilla commented on #86
Hola Cristofer, te comento que si necesitan un lugar para los meetups podemos coordinarlo en las instalaciones del lugar donde trabajo, solo es cuestión de fijar una fecha, cantidad estimada de asistentes y listo.

Quedo atento saludos . . .

[2018-05-07 22:21] pctroll commented on #82
Sí, está genial. =)

[2018-05-09 01:23] cristofer-dev commented on #84
Ningún problema @tatymoly, cerraremos el issue por ahora, y tú nos cuentas apenas puedas sumarte como charlista!

[2018-05-09 01:26] cristofer-dev commented on #86
Wow genial @aljvilla lo coordinamos via mail! :)

[2018-05-09 20:16] sosongo opened #89 "Continuous deployment for NodeJs applicaions using Jenkins"
## ¿Qué tipo de presentación quieres hacer?

- [*] Keynote (20 a 30 minutos)
- [ ] Lightning Talk (+- 5 minutos)
- [ ] Avisos de trabajo / comunidades / actividades / ETC.

## ¿Cuál es tu nombre?
Renzo Cast

## ¿Cuál es el título de tu charla?
Continuum Deployment with Jenkins

## Danos una descripción de tu charla (20 palabras)
La charla tratara de una breve introducción sobre Jenkins y se hará u

[2018-05-10 01:47] #84 closed, assigned to nobody

[2018-05-11 02:50] cristofer-dev commented on #87
@pankas87 gracias por ser parte el meetup y compartir tu experiencia, tu charla estuvo genial y estaremos encantados de recibirte nuevamente cuando gustes.

Enviaremos un resumen y nos gustaría incluir las slides de tu presentación, seria genial si nos dejas aquí la información que quieras compartir.

Saludos y gracias de parte de la Comunidad de Noders!

[2018-05-11 02:50] cristofer-dev commented on #83
@julia-leyton gracias por ser parte el meetup y compartir tu experiencia, tu charla estuvo genial y estaremos encantados de recibirte nuevamente cuando gustes.

Enviaremos un resumen y nos gustaría incluir las slides de tu presentación, seria genial si nos dejas aquí la información.

Saludos y gracias de parte de la Comunidad de Noders!

[2018-05-11 16:22] pankas87 commented on #87
@cristofer-dev Cristofer, muchas gracias a ustedes por la oportunidad.

Hoy a la noche saco las slides como PDF y te las envío.

Saludos

[2018-05-11 23:33] julia-leyton commented on #83
Hola Cristofer! Nuevamente gracias a ustedes por recibirnos, me sentí muy bienvenida y fue un agrado compartir con ustedes! Muy buena comunidad :) Aquí les dejo el pdf de la presentación
[Stan-Meetup-20180510.pdf](https://github.com/Noders/Meetups/files/1997082/Stan-Meetup-20180510.pdf)

Saludos y nos vemos!
Julia

[2018-05-15 01:40] cristofer-dev commented on #87
Gracias @pankas87
[Dale sabor a tu JS con un poco de Curry(ing)().pdf](https://github.com/Noders/Meetups/files/2003138/Dale.sabor.a.tu.JS.con.un.poco.de.Curry.ing.pdf)

[2018-05-15 01:40] #87 closed, assigned to nobody

[2018-05-15 01:55] #83 closed, assigned to nobody

[2018-05-15 02:14] cristofer-dev commented on #89
Gracias @sosongo por sumarte como charlista y compartir con nosotros tú experiencia! \o/
La demo estará orientada a Apps en NodeJS ?

[2018-05-16 19:11] pctroll commented on #82
Hola @cristofer-dev, veo que tiene el tag de Junio; quería confirmar que está asegurada y así armar lo necesario para la charla =)

[2018-05-16 19:13] cristofer-dev commented on #82
Hola @pctroll , si, te viene bien el **14 de Junio** ?

[2018-05-16 19:14] cristofer-dev commented on #80
Hola @BloodyLink te viene bien el **14 de Junio** ?

[2018-05-16 19:19] DvdQzd commented on #80
Buena fecha @cristofer-dev

[2018-05-16 19:28] pctroll commented on #82
Pues sí, mejor que mejor. Planificaré todo para esa fecha.

GRACIAS!

------------------------------------------
*Jorge Palacios*
http://jorge.palacios.co/

On Wed, May 16, 2018 at 3:13 PM, Cristofer <notifications@github.com> wrote:

[2018-05-17 23:39] cristofer-dev commented on #80
Genial!

[2018-05-17 23:39] cristofer-dev commented on #82
Genial!

[2018-05-23 15:40] DvdQzd commented on #80
@cristofer-dev Hola. Es posible correr mi charla a estas alturas? He tenido N pega, tramites y un cambio de casa en trámite. No creo tener el tiempo de terminar una charla decente para Junio :c
Onda, dejarla pendiente, sin fecha por ahora u -u

[2018-05-23 16:26] cristofer-dev commented on #80
Ningún problema @BloodyLink ! La dejamos para Julio ??

[2018-05-23 17:50] cristofer-dev commented on #85
Hola @betacar gracias de nuevo por sumarte como charlista. Te tinca presentar tu charla el **jueves 14 de junio a las 19:00** ?

[2018-05-23 18:02] betacar commented on #85
Of course, @cristofer-dev!

[2018-05-29 16:03] jacobparra opened #90 "Microservicios orientados a eventos en ComparaOnline"
## ¿Qué tipo de presentación quieres hacer?

- [x] Keynote (20 a 30 minutos)
- [ ] Lightning Talk (+- 5 minutos)
- [ ] Avisos de trabajo / comunidades / actividades / ETC.

## ¿Cuál es tu nombre?
Jacob Parra

## ¿Cuál es el título de tu charla?
Microservicios orientado a eventos en ComparaOnline

## Danos una descripción de tu charla (20 palabras)
La charla trata sobre los problemas que tuvimos en

[2018-06-12 14:12] enBonnet commented on #89
Master @sosongo ¿Como estas?

¿Tienes inconvenientes de hacer la primera charla del Jueves?

Saludos

[2018-06-15 14:03] betacar commented on #85
- Presentación:
  - [PDF](https://speakerdeck.com/betacar/feathers-and-nuxtjs-the-last-real-time-jedis?slide=1).
  - [Repo](https://github.com/betacar/feathers-nuxt-realtime).
- [Demo](https://github.com/betacar/feathers-nuxt-jedis).

[2018-06-15 14:31] mortegac commented on #85
@betacar  Excelente presentación.  Se agradece!

[2018-06-16 19:49] cristofer-dev commented on #89
@sosongo gracias por ser parte el meetup y compartir tu experiencia, tu charla estuvo genial y estaremos encantados de recibirte nuevamente cuando gustes.

Enviaremos un resumen y nos gustaría incluir las slides de tu presentación, seria genial si nos dejas aquí la información

Saludos y gracias de parte de la Comunidad de Noders!

[2018-06-16 19:50] cristofer-dev commented on #85
@betacar gracias por ser parte el meetup y compartir tu experiencia, tu charla estuvo genial y estaremos encantados de recibirte nuevamente cuando gustes.

Incluiremos las slides de tu presentación en el mail post meetup!

Saludos y gracias de parte de la Comunidad de Noders!

[2018-06-16 19:51] cristofer-dev commented on #82
@pctroll gracias por ser parte el meetup y compartir tu experiencia, tu charla estuvo genial y estaremos encantados de recibirte nuevamente cuando gustes.

Enviaremos un resumen y nos gustaría incluir las slides de tu presentación, seria genial si nos dejas aquí la información

Saludos y gracias de parte de la Comunidad de Noders!

[2018-06-16 20:17] cristofer-dev commented on #90
Genial @jacobparra por sumarte como charlista y compartir con nosotros tú experiencia! \o/
Estamos coordinando fecha y lugar para los próximos meetups, apenas tengamos la información te confirmamos!

[2018-06-19 07:36] pctroll commented on #82
Hola Cristofer,

Adjunto las láminas. Sin embargo, a final de semana estaré en contacto
contigo o Ender a través de Slack para una versión mejorada con más
información para quienes no pudieron asistir. Las envío en este momento
porque sé que el resumen viene pronto jaja.

Un abrazo!
------------------------------------------
*Jorge Palacios*

On Sat, Jun 16, 2018 at 3:51 PM Cristofer <notification

[2018-06-22 02:10] cristofer-dev commented on #88
Hola @YerkoPalma gracias nuevamente por sumarte como charlista!
Te parece bien presentar en **Jueves 12 de Julio** ?

[2018-06-22 02:10] cristofer-dev commented on #86
Hola @aljvilla gracias nuevamente por sumarte como charlista!
Te parece bien presentar en **Jueves 12 de Julio** ?

[2018-06-22 02:11] cristofer-dev commented on #80
Hola @BloodyLink gracias nuevamente por sumarte como charlista!
Te parece bien presentar en **Jueves 12 de Julio** ?

[2018-06-22 13:20] YerkoPalma commented on #88
Si, no hay problema.

[2018-06-22 14:26] aljvilla commented on #86
Hola Cristofer, si genial.

Donde sería?? recuerda que podemos coordinas hacer el evento en las instalaciones de las oficinas donde trabajo.

[2018-06-26 00:59] #89 closed, assigned to nobody

[2018-06-26 00:59] #85 closed, assigned to nobody

[2018-06-26 00:59] #82 closed, assigned to nobody

[2018-06-26 01:02] cristofer-dev commented on #82
[Slides](https://github.com/Noders/Meetups/files/2135189/Introduccion.a.juegos.multiplayer.pdf)

[2018-06-26 01:22] cristofer-dev commented on #86
Genial @aljvilla sería en **Centro Comunitario Bellavista, en constitución 85**
Te debemos un meetup en tus oficinas, lo coordinaremos \o/!
Gracias de nuevo por el apoyo y las ganas! :)

[2018-06-26 01:23] cristofer-dev commented on #88
Gracias @YerkoPalma Nos vemos en JULIO!

[2018-06-26 17:04] enBonnet commented on #90
Hola @jacobparra espero que estés muy bien, te escribo para comentarte que el próximo meetup en las oficinas de ComparaOnline será el en Octubre, ya lo confirme con María. Respecto a eso quería consultarte si de igual forma ¿Quieres dar tu charla para Agosto o la dejamos agendada para Octubre?

Lo que se te haga más cómodo, un abrazo y de nuevo gracias por sumarte :+1:

[2018-07-03 02:42] highercomve opened #91 "Back to the Browser - Web Components"
## ¿Qué tipo de presentación quieres hacer?

- [X] Keynote (20 a 30 minutos)
- [ ] Lightning Talk (+- 5 minutos)
- [ ] Avisos de trabajo / comunidades / actividades / ETC.

## ¿Cuál es tu nombre?
Sergio Marin

## ¿Cuál es el título de tu charla?
Back to the Browser - Web components
Hablemos de web components como crear webcomponents en VanillaJS y porque web components es el futuro para la platafo

[2018-07-03 22:31] lupomontero opened #92 "Paralelizando promesas: concurrencia, throttling y manejo de errores"
## ¿Qué tipo de presentación quieres hacer?

- [x] Keynote (20 a 30 minutos)
- [ ] Lightning Talk (+- 5 minutos)
- [ ] Avisos de trabajo / comunidades / actividades / ETC.

## ¿Cuál es tu nombre?

Lupo Montero

## ¿Cuál es el título de tu charla?

_Paralelizando promesas_: concurrencia, throttling y manejo de errores

## Danos una descripción de tu charla (20 palabras)

Si necesitamos ejecutar muc

[2018-07-04 03:28] cristofer-dev commented on #92
Gracias @lupomontero  por sumarte como charlista y compartir con nosotros tú experiencia! \o/
Agendado para **Septiembre** !

[2018-07-04 03:31] cristofer-dev commented on #91
Gracias @highercomve por sumarte como charlista y compartir una vez más con nosotros tú experiencia! \o/
Te parece bien presentar en **Agosto** ?

[2018-07-04 15:18] highercomve commented on #91
Por supuesto @cristofer_dev agosto está perfecto.

Saludos

[2018-07-11 03:16] cristofer-dev commented on #90
Hola @jacobparra te viene bien **Agosto** para presentar tu charla ??

[2018-07-13 13:35] YerkoPalma commented on #88
Gracias por la oportunidad! 🎉
Adjunto los links:

- Repositorio de la presentación: https://github.com/YerkoPalma/service-workers-talk
- Presentación: https://yerkopalma.github.io/service-workers-talk/

[2018-07-13 15:59] cristofer-dev commented on #88
Gracias @YerkoPalma por ser parte el meetup y compartir tu experiencia, tu charla estuvo genial y estaremos encantados de recibirte nuevamente cuando gustes.

Enviaremos un resumen con las slides de tu presentación.

Saludos y gracias de parte de la Comunidad de Noders!

[2018-07-13 16:38] cristofer-dev commented on #86
Gracias @aljvilla por ser parte el meetup y compartir tu experiencia, tu charla estuvo genial y estaremos encantados de recibirte nuevamente cuando gustes.

Enviaremos un resumen con las slides de tu presentación.

Saludos y gracias de parte de la Comunidad de Noders!

[promise.pdf](https://github.com/Noders/Meetups/files/2193490/promise.pdf)

[2018-07-13 18:36] labormedia opened #93 "Venue"
Hola!

He venido siguiendo lo que hacen.
En estos momento, por razones relacionadas con mi empresa, entoy creando sinergía y comunidad en el sector cercano al Apumanque en Las Condes. Estoy organizando eventos relacionados con cloud computing y estándares de la industria TI. Les interesaría unir fuerzas y realizar su actividad en un co-work ubicado en el segundo piso del Edificio Génesis ?

cordia

[2018-07-13 19:11] jacobparra commented on #90
Hola @cristofer-dev y @enBonnet. Me gustaría presentar en octubre, cuando se haga el meetup en ComparaOnline. Así tenemos un representante de la empresa en el meetup.

[2018-07-14 00:49] #88 closed, assigned to nobody

[2018-07-14 00:49] #86 closed, assigned to nobody

[2018-07-14 00:52] cristofer-dev commented on #90
Genial @jacobparra! Agendamos para **Octubre**

[2018-08-01 20:09] morfeus5000 opened #94 "Nodejs"
## ¿Qué tipo de presentación quieres hacer?

- [ ] Keynote (20 a 30 minutos)
- [ ] Lightning Talk (+- 5 minutos)
- [ ] Avisos de trabajo / comunidades / actividades / ETC.

## ¿Cuál es tu nombre?

## ¿Cuál es el título de tu charla?

## Danos una descripción de tu charla (20 palabras)

## ¿Tienes alguna red social donde podamos contactarte?

## ¿Representas a alguna compañía o empresa?

## ¿Qué ti

[2018-08-03 01:22] cristofer-dev commented on #93
Hola Diego!

Lamentamos la demora en la respuesta, Siempre nos viene bien el apoyo en las actividades. Nos dejas un mail y lo coordinamos por interno ?

Saludos!
Cristofer!

[2018-08-13 21:34] agj opened #95 "La vida secreta de los microlenguajes"
## ¿Qué tipo de presentación quieres hacer?

- Keynote (20 a 30 minutos)

## ¿Cuál es tu nombre?

Ale Grilli

## ¿Cuál es el título de tu charla?

La vida secreta de los microlenguajes

## Danos una descripción de tu charla (20 palabras)

Mi historia personal que desencadena en la creación de una herramienta para construir microlenguajes incrustados.

## ¿Tienes alguna red social donde podamos con

[2018-08-30 16:25] enBonnet commented on #92
Hello master @lupomontero estamos confirmando para el próximo meetup, podemos contar contigo para el jueves 13 de septiembre? Saludos

[2018-08-31 13:42] lupomontero commented on #92
Sí, jueves 13 de septiembre confirmado :heavy_check_mark:

[2018-09-01 19:44] #91 closed, assigned to nobody

[2018-09-10 20:49] nicolaslopezj opened #96 "Charla Orionjs"
## ¿Qué tipo de presentación quieres hacer?

- [x] Keynote (20 a 30 minutos)
- [ ] Lightning Talk (+- 5 minutos)
- [ ] Avisos de trabajo / comunidades / actividades / ETC.

## ¿Cuál es tu nombre?

Nicolás López

## ¿Cuál es el título de tu charla?

Orionjs: un nuevo framework de nodejs made in Chile

## Danos una descripción de tu charla (20 palabras)

Sería una introducción al framework, aspectos

[2018-09-10 20:49] nicolaslopezj commented on #96
https://orionjs.com/

[2018-09-11 12:38] enBonnet commented on #96
Hola @nicolaslopezj muchas gracias por querer compartir con nosotros esta charla!
Te estaremos avisando por este medio en que fecha

[2018-09-11 20:53] #95 closed, assigned to nobody

[2018-09-11 23:49] nicolaslopezj commented on #96
Dale, o me pueden enviar un mail a nicolaslopezj@me.com

[2018-09-14 01:26] cristofer-dev commented on #92
@lupomontero gracias por ser parte el meetup y compartir tu experiencia, tu charla estuvo genial y estaremos encantados de recibirte nuevamente cuando gustes.

Enviaremos un resumen y nos gustaría incluir las slides de tu presentación, seria genial si nos dejas aquí la información

Saludos y gracias de parte de la Comunidad de Noders!

[2018-09-17 00:33] lupomontero commented on #92
Hola @cristofer-dev, un gusto participar en el meetup. Gracias por todo!

Ahí dejo el link a los slides:

https://docs.google.com/presentation/d/e/2PACX-1vTTXUEP7CCckZ4gefsnLe0DeYIbigf-7WwGrq76_VwTlp9qzV2xeB4gQZjZ2NYehViAeIjnnS09Mw2h/pub?start=false&loop=false&delayms=3000

:rocket:

[2018-09-21 13:51] enBonnet commented on #90
Máster @jacobparra estamos confirmando ¿Aún tienes la disponibilidad de hacer la charla el 11 de octubre en las oficinas de ComparaOnline? Saludos

[2018-09-21 13:52] enBonnet commented on #75
Máster @pankas87  estamos confirmando ¿Aún tienes la disponibilidad de hacer la charla el 11 de octubre en las oficinas de ComparaOnline? Saludos

[2018-09-24 15:38] jacobparra commented on #90
@enBonnet Hola! Si, para el 11 de octubre está bien. 👍

[2018-09-28 02:22] enBonnet commented on #96
Hola @nicolaslopezj ¿te parece bien hacer tu charla el 11 de octubre?

[2018-09-28 02:25] enBonnet commented on #94
Hola @morfeus5000 ¿Tienes ganas de hacer una charla?

[2018-09-28 16:48] nicolaslopezj commented on #96
Si puedo. Cuanto gente va a estos meetups?

[2018-09-28 16:52] enBonnet commented on #96
¡Entre 30 y 40 personas máster!

Wojo! Que bueno que si puedas te vamos a agendar para el meetup de octubre entonces, será en las oficinas de ComparaOnline.

[2018-09-28 16:55] nicolaslopezj commented on #96
Donde quedan? A qué hora empieza?

[2018-09-28 17:05] enBonnet commented on #96
Cerca del metro Manuel Montt, no tengo la dirección a mano. Pero estará cuando publique el evento en meetups.

[2018-10-03 00:06] nicolaslopezj commented on #96
Tienen alguna invitación o imagen para compartir el evento?

[2018-10-06 03:14] nicolaslopezj commented on #96
Cómo están promocionando el evento?

[2018-10-06 11:43] cristofer-dev commented on #96
Hola @nicolaslopezj, gusto de saludarte, lamentamos la demora en la respuesta.

El link del evento es https://www.meetup.com/es-ES/NodersJS/events/mszzgqyxnbpb/

Gracias por sumarte como charlista y compartir con nosotros tú experiencia! \o/

[2018-11-20 02:51] nicoavila opened #97 "Construyendo un sintetizador con JavaScript"
## ¿Qué tipo de presentación quieres hacer?

- [x] Keynote (20 a 30 minutos)
- [ ] Lightning Talk (+- 5 minutos)
- [ ] Avisos de trabajo / comunidades / actividades / ETC.

## ¿Cuál es tu nombre?
Nicolás Ávila

## ¿Cuál es el título de tu charla?
Construyendo un sintetizador con JavaScript

## Danos una descripción de tu charla (20 palabras)
Explorar teoría de síntesis de audio y las característic

[2018-11-20 18:26] pctroll opened #98 "Procedural Content Generation para Juegos"
## ¿Qué tipo de presentación quieres hacer?

- [x] Keynote (20 a 30 minutos)
- [ ] Lightning Talk (+- 5 minutos)
- [ ] Avisos de trabajo / comunidades / actividades / ETC.

## ¿Cuál es tu nombre?
Jorge Palacios

## ¿Cuál es el título de tu charla?

Procedural Content Generation para Juegos

## Danos una descripción de tu charla (20 palabras)

Veremos 2 técnicas de generación de contenidos para jue

[2018-12-13 03:11] heysoypaez opened #99 "Cómo funciona la máquina del asincronismo por un Junior"
## ¿Qué tipo de presentación quieres hacer?

- [ ] Keynote (20 a 30 minutos)
- [ X ] Lightning Talk (+- 5 minutos)
- [ ] Avisos de trabajo / comunidades / actividades / ETC.

## ¿Cuál es tu nombre?
Daniel Páez

## ¿Cuál es el título de tu charla?

Cómo funciona la máquina del asincronismo por un Junior

## Danos una descripción de tu charla (20 palabras)

Compartiré de forma práctica el modelo que

[2019-01-03 15:18] #92 closed, assigned to nobody

[2019-01-03 15:19] #90 closed, assigned to nobody

[2019-01-03 15:21] #80 closed, assigned to luchosrock

[2019-01-03 15:24] #75 closed, assigned to enBonnet

[2019-01-07 18:34] rodrigoAdones commented on #98
Hola Jorge

Gracias por interesarte dar una charla en el meetup de Noders.

Este jueves tenemos planificado realizar el meetup, y nos gustaría que expusieras en esta ocasión.

Por favor, déjanos saber si te es posible presentar

Saludos

[2019-01-07 19:11] pctroll commented on #98
Hola equipo, ¿cómo están?

¿Podríamos agendar esta charla para Febrero? por motivos laborales no me da tiempo de preparar bien la charla para el jueves, y no quisiera dar una charla a medias sin demo.

¿Es posible? Espero que sí =D

[2019-01-07 19:12] rodrigoAdones commented on #98
Dale, no hay problema

Para febrero entonces 👍

[2019-01-07 19:19] rodrigoAdones commented on #99
Hola Daniel

Gracias por interesarte dar una charla en el meetup de Noders.

Este jueves tenemos planificado realizar el meetup, y nos gustaría que expusieras en esta ocasión.

Por favor, déjanos saber si te es posible presentar

Saludos

[2019-02-11 19:52] highercomve opened #100 "Lighting: React Hooks"
## ¿Qué tipo de presentación quieres hacer?

- [ ] Keynote (20 a 30 minutos)
- [X] Lightning Talk (+- 5 minutos)
- [ ] Avisos de trabajo / comunidades / actividades / ETC.

## ¿Cuál es tu nombre?

Sergio Marin

## ¿Cuál es el título de tu charla?
Estoy enganchado con los Hooks de React

Introduccion al uso de React Hooks :)

## Danos una descripción de tu charla (20 palabras)
Introduccion a como u

[2019-02-14 01:44] rodrigoAdones commented on #98
Hola Jorge

Espero estes bien.

Te quería informar que movimos el meetup para el jueves 21 de Febrero.

Te parece esa fecha para hacer tu presentación?

Nos avisas por favor si tienes algún inconveniente o estas de acuerdo

Saludos

[2019-02-14 01:49] rodrigoAdones commented on #100
Hola Sergio

Muchas gracias por interesarte en hacer una lightning talk.

Este mes tenemos programado hacerla el jueves 21, seria genial que expusieses ese día.

Me confirmas si te parece, o si te interesa mas otra fecha

Saludos

[2019-02-14 01:54] highercomve commented on #100
Hola @L0rdKras

Si, me parece perfecto el 21 no hay problemas! 👍

Saludos

[2019-02-14 01:56] rodrigoAdones commented on #100
Buenísimo!!

Gracias por confirmar, estamos en contacto.

[2019-02-14 02:02] pctroll commented on #98
Sí, me queda perfecto!

Kind regards,

*Jorge Palacios*

On Wed, Feb 13, 2019 at 10:44 PM Rodrigo Adones <notifications@github.com>
wrote:

[2019-02-14 14:36] rodrigoAdones commented on #98
Perfecto

Estamos en contacto

Saludos

[2019-02-14 14:37] rodrigoAdones commented on #99
Hola Daniel

Quería saber si aun estas interesado dar la lightning en el siguiente meetup

Saludos

[2019-02-14 15:17] heysoypaez commented on #99
hola, donde será el meetup de hoy para responderte?

El jue., 14 de feb. de 2019 a la(s) 11:37, Rodrigo Adones (
notifications@github.com) escribió:

--
Daniel Páez.

*Sé el cambio que quieres ver en el mundo* (Así te cueste)
heysoypaez.com
github.com/heysoypaez  <http://github.com/heysoypaez>

[2019-02-14 15:32] rodrigoAdones commented on #99
Lo movimos para la próxima semana (jueves 21), el lugar aun estamos viendo donde será

[2019-02-14 15:34] heysoypaez commented on #99
Entonces si!!,

No consiguen lugar? Si quiere les ayudo a consultar

El jue., 14 de feb. de 2019 a la(s) 12:32, Rodrigo Adones (
notifications@github.com) escribió:

--
Daniel Páez.

*Sé el cambio que quieres ver en el mundo* (Así te cueste)
heysoypaez.com
github.com/heysoypaez  <http://github.com/heysoypaez>

[2019-02-14 16:50] rodrigoAdones commented on #99
Claro, si tienes algún dato de donde podríamos hacer el meetup seria genial

[2019-02-21 01:49] rodrigoAdones commented on #98
Jorge, disculpa pero no podremos realizar el meetup este mes.

Te pido mil disculpas por cualquier inconveniente provocado por la cancelación.

Quería saber si puedes dar la charla en el meetup de Marzo, quedo atento a tu respuesta.

Saludos

[2019-02-21 01:50] rodrigoAdones commented on #100
Sergio, disculpa pero no podremos realizar el meetup este mes.

Te pido mil disculpas por cualquier inconveniente provocado por la cancelación.

Quería saber si puedes dar la charla en el meetup de Marzo, quedo atento a tu respuesta.

Saludos

[2019-02-21 02:02] pctroll commented on #98
Sí, no hay problema!

Kind regards,

*Jorge Palacios*

On Wed, Feb 20, 2019 at 10:49 PM Rodrigo Adones <notifications@github.com>
wrote:

[2019-02-21 13:11] highercomve commented on #100
Hola!,

Por supuesto no hay problemas, nos vemos en marzo.

Avisen cuando y nos vemos ahí

Saludos

[2019-02-27 12:26] rodrigoAdones commented on #100
Buenas

Ya confirmamos el meetup para el 14 de marzo, sera en las oficinas de ComparaOnline

Puedes exponer en esa fecha? espero tu confirmación

Saludos

[2019-02-27 12:27] rodrigoAdones commented on #98
Buenas

Ya confirmamos el meetup para el 14 de marzo, sera en las oficinas de ComparaOnline

Puedes exponer en esa fecha? espero tu confirmación

Saludos

[2019-02-27 13:12] highercomve commented on #100
Si no hay Problema xD

On Wed, Feb 27, 2019, 9:27 AM Rodrigo Adones <notifications@github.com>
wrote:

[2019-03-01 10:32] pctroll commented on #98
Hola Rodrigo,

Sí. Ningún problema =) Nos vemos el 14.

Kind regards,

*Jorge Palacios*

On Wed, Feb 27, 2019 at 9:27 AM Rodrigo Adones <notifications@github.com>
wrote:

[2019-03-01 13:34] rodrigoAdones commented on #98
Genial Jorge!

Nos vemos el 14.

Saludos.

[2019-03-01 13:35] rodrigoAdones commented on #100
Buenísima

Nos vemos el 14

Saludos

[2019-03-07 17:05] CarlosHWolox opened #101 "Sabor Digital"
## ¿Qué tipo de presentación quieres hacer?

- [X ] Keynote (20 a 30 minutos)
- [ ] Lightning Talk (+- 5 minutos)
- [ ] Avisos de trabajo / comunidades / actividades / ETC.

## ¿Cuál es tu nombre?
Carlos Luis Hernández

## ¿Cuál es el título de tu charla?
El Sabor Digital

## Danos una descripción de tu charla (20 palabras)
Importancia de animaciones, de enfatizar en que un producto no es solo fun

[2019-03-15 11:57] nicoavila opened #102 "Creando Skills de Alexa con Serverless Framework y Node"
## ¿Qué tipo de presentación quieres hacer?

- [x] Keynote (20 a 30 minutos)
- [ ] Lightning Talk (+- 5 minutos)
- [ ] Avisos de trabajo / comunidades / actividades / ETC.

## ¿Cuál es tu nombre?
Nicolás Ávila

## ¿Cuál es el título de tu charla?
Creando Skills de Alexa con Serverless Framework y Node

## Danos una descripción de tu charla (20 palabras)
Aprenderemos a construir una skill de [Alexa

[2019-05-02 20:05] rodrigoAdones commented on #101
Hola Carlos

Primero, disculpa la demora en contactarte, tuvimos algunos problemas organizando el meetup.

Nos gustaría saber si puedes dar tu charla el día jueves 16 de Mayo.

Quedo atento a tu respuesta.

Saludos.

[2019-05-02 20:07] rodrigoAdones commented on #102
Hola Nico

Gracias por interesarte en dar nuevamente una charla para nuestra comunidad.

Queríamos saber si puedes darla en el meetup del jueves 16 de mayo

Quedo atento a tu respuesta

Saludos.

[2019-05-08 01:07] nicoavila commented on #102
Hola @L0rdKras!
Super, me anoto para este Jueves 16 con la charla.
Saludos 😄

[2019-05-16 19:19] nicoavila commented on #102
Hola a todos! Adjunto mis slides para el Meetup de hoy: [Slides](https://nicoavila.s3.amazonaws.com/slides/Noders-20190516-Creando-Skills-de-Alexa-con-Serverless-Framework-y-Node.pdf)

[2019-06-05 06:49] jeanmachuca opened #103 "Progressive web apps con QCObjects"
## ¿Qué tipo de presentación quieres hacer?

- [x ] Keynote (20 a 30 minutos)
- [ ] Lightning Talk (+- 5 minutos)
- [ ] Avisos de trabajo / comunidades / actividades / ETC.

## ¿Cuál es tu nombre?
Jean Machuca

## ¿Cuál es el título de tu charla?

Introducción al desarrollo de progressive web apps con QCObjects

## Danos una descripción de tu charla (20 palabras)

QCObjects es una tecnología de in

[2019-07-08 12:20] rodrigoAdones commented on #103
Hola Jean

Nos alegra mucho que quieras dar una charla en el meetup de Noders.

Disculpa la demora en responder, hemos estado algo ocupados pero ya estamos retomando las actividades.

Quisiera saber si puedes presentar el jueves 18 de Julio, me confirmas tu disponibilidad.

Nuevamente gracias por tu interés.

Saludos.

[2019-07-10 13:52] jeanmachuca commented on #103
Hola! Muchas gracias! Me encuentro aún en Hong Kong por lo que estaré disponible los primeros días de agosto para exponer en Chile. Saludos

[2019-07-12 18:53] rodrigoAdones commented on #103
Excelente, te confirmamos la fecha del meetup de agosto para que coordinemos tu charla.

Saludos.

[2019-08-15 13:14] rodrigoAdones commented on #103
Hola @jeanmachuca

El meetup sera la próxima semana, el jueves 22 en las oficinas de comparaonline

Quería confirmar si puedes presentar tu charla para ese día.

Quedo atento

Saludos.

[2019-08-15 17:35] jeanmachuca commented on #103
Hola @L0rdKras !

Buenísimo! Ningún problema para el jueves 22.

Nos vemos!

[2019-08-16 10:29] #96 closed, assigned to nobody

[2019-08-16 10:29] #97 closed, assigned to nobody

[2019-08-16 10:29] #98 closed, assigned to nobody

[2019-08-16 10:30] rodrigoAdones commented on #103
Excelente, nos vemos el 22

Saludos

[2019-08-16 10:31] #100 closed, assigned to nobody

[2019-08-27 14:48] enBonnet opened #104 "Como prepararse para las grandes oportunidades de trabajar en un país de habla inglés."
## ¿Qué tipo de presentación quieres hacer?

- [ ] Keynote (20 a 30 minutos)
- [x] Lightning Talk (+- 5 minutos)
- [ ] Avisos de trabajo / comunidades / actividades / ETC.

## ¿Cuál es tu nombre?
Stuart Nauen

## ¿Cuál es el título de tu charla?
Como armar un CV para trabajar en países de habla Inglesa

## Danos una descripción de tu charla (20 palabras)
Estimo que puede durar entre 5 y 10 minutos

[2019-09-09 21:48] grant opened #105 "[26 de Septiembre, 2019] Go Serverless with Google Cloud!"
- **Talk title:** Go Serverless with Google Cloud!
- **Description:** Google Cloud makes it easy for developers to run and scale code in the cloud and build event-driven serverless applications. In this session you'll learn about the latest updates with Cloud Functions, Cloud Run along with a few demos working in action!
- **Duration:** 30m (ideally)
- **Company:** Google
- **Social:**
  - http://

[2019-09-21 17:17] daslaf opened #106 "Manejo de estados con Context en React"
## ¿Qué tipo de presentación quieres hacer?

- [x] Keynote (20 a 30 minutos)
- [ ] Lightning Talk (+- 5 minutos)
- [ ] Avisos de trabajo / comunidades / actividades / ETC.

## ¿Cuál es tu nombre?
Osman Cea

## ¿Cuál es el título de tu charla?
Manejo de estados con Context en React

## Danos una descripción de tu charla (20 palabras)
La charla trata sobre cómo separar el estado y la lógica de negoc

[2019-09-22 20:39] rodrigoAdones commented on #106
Hola Osman

Muchas gracias por interesarte en dar la charla en el meetup de Noders.

Tenemos disponible espacio disponible para una keynote en el proximo meetup del 26 de Septiembre, te es posible presentarte ese día?

Quedamos atentos a tu confirmación.

Saludos.

[2019-09-23 02:18] daslaf commented on #106
Sí Rodrigo, nos vemos el 26 entonces! ¿Hay algo con lo que les pueda ayudar o necesiten que lleve o algo por el estilo?

Saludos

[2019-09-23 13:44] rodrigoAdones commented on #106
Genial Osman!!

No te preocupes por nada, nos vemos el jueves.

Saludos.

[2019-09-27 01:33] daslaf commented on #106
Aprovecho de dejar el link a las slides:

https://docs.google.com/presentation/d/1DJQAfeDt0QhjUlMH3nsQfKn8RKfDg6G669dFdb3LXcI/edit?usp=sharing

Y al repositorio con el código del demo:

https://github.com/daslaf/state-management-react-context

Muchas gracias por el espacio y la buena onda <3

[2019-09-27 09:38] rodrigoAdones commented on #106
Muchas gracias a ti Osman!!!

Fue genial tenerte como charlista. El tema es muy interesante y la comunidad lo disfruto mucho.

Esperamos volver a verte en el meetup

Gracias nuevamente.

[2019-09-27 09:38] #101 closed, assigned to nobody

[2019-09-27 09:38] #102 closed, assigned to nobody

[2019-10-03 19:18] grant commented on #105
Complete, but please link the video!

[2019-10-03 19:18] #105 closed, assigned to nobody

[2019-10-08 18:30] lporras opened #107 "Finding my way to debug"
## ¿Qué tipo de presentación quieres hacer?

- [ ] Keynote (20 a 30 minutos)
- [x] Lightning Talk (+- 5 minutos)
- [x] Avisos de trabajo / comunidades / actividades / ETC.

## ¿Cuál es tu nombre?
Luis Alfredo Porras Páez

## ¿Cuál es el título de tu charla?
Finding my way to debug

## Danos una descripción de tu charla (20 palabras)

Una breve charla respecto a las maneras de hacer debugging de nu

[2019-10-09 02:27] raicerk opened #108 "Tendencias laborales tecnológicas"
## ¿Qué tipo de presentación quieres hacer?

- [ ] Keynote (20 a 30 minutos)
- [x] Lightning Talk (+- 5 minutos)
- [ ] Avisos de trabajo / comunidades / actividades / ETC.

## ¿Cuál es tu nombre?
Juan Mora

## ¿Cuál es el título de tu charla?
Tendencias laborales tecnológicas

## Danos una descripción de tu charla (20 palabras)
Se revisaran interesantes datos de tendencias tecnologías del país, as

[2019-10-09 03:07] enBonnet commented on #108
Genial master, gracias por sumarte

[2019-10-10 11:08] lporras opened #109 "About Noderscast"
## ¿Qué tipo de presentación quieres hacer?

- [ ] Keynote (20 a 30 minutos)
- [x] Lightning Talk (+- 5 minutos)
- [ ] Avisos de trabajo / comunidades / actividades / ETC.

## ¿Cuál es tu nombre?
Luis Porras

## ¿Cuál es el título de tu charla?

About Noderscast

## Danos una descripción de tu charla (20 palabras)

Una breve historia del podcast, anuncios y noticias

## ¿Tienes alguna red social d

[2019-10-13 21:26] Pillin opened #110 "Al infinito y más allá con websocket"
## ¿Qué tipo de presentación quieres hacer?

- [X] Keynote (20 a 30 minutos)
- [ ] Lightning Talk (+- 5 minutos)
- [ ] Avisos de trabajo / comunidades / actividades / ETC.

## ¿Cuál es tu nombre?
Pillippa Pérez Pons

## ¿Cuál es el título de tu charla?
 Al infinito y más allá con websocket

## Danos una descripción de tu charla (20 palabras)

Qué es?, Qué se necesita? Cómo se implementa? Ejemplos

[2019-10-14 12:37] rodrigoAdones commented on #110
Hola Pillippa!!

Muchas gracias por interesarte en hacer una presentación en el meetup de Noders =)

Te cuento que nuestro proximo meetup ser el 14 de noviembre (aun estamos confirmando el lugar), te gustaría presentar ese día? nos confirmas por favor.

Que estes bien, y gracias nuevamente

Saludos.

[2019-10-14 13:15] Pillin commented on #110
Hola Rodrigo!!

Muchas gracias por la oportunidad y me parece genial la fecha! :D. Así que confirmo.
Qué tengas un excelente día.

Saludos.

[2019-11-06 12:05] Pillin commented on #110
Hola Rodrigo

Qué tal?, oye, podría quedar para el siguiente evento (Dic)?

Gracias! Saludos

[2019-11-06 16:45] rodrigoAdones commented on #110
Hola Pillippa

No hay problema, te dejamos anotada para el meetup de diciembre

Saludos

[2020-02-03 13:41] rodrigoAdones commented on #110
Hola @Pillin!!

Paso harto tiempo... espero estes bien.

Queríamos saber si aun estas interesada en dar una charla en el meetup

Estamos organizando uno para este mes( el 20 es nuestra fecha tentativa)

Nos gustaría mucho que pudieses presentarte ese día... o si no anotarte para otro meetup, tu nos cuentas que te parece.

Saludos!

[2020-02-03 14:22] rodrigoAdones commented on #108
Hola @raicerk!!

Espero estes bien.

Quisiéramos saber si aun estas interesado en dar la lighting en el próximo meetup de la comunidad( tenemos como fecha tentativa el jueves 20 de febrero).

Ojalá pudieses presentar ese día, pero si no es posible podríamos coordinar para mas adelante, tu nos cuentas

Saludos.

[2020-02-03 14:35] #103 closed, assigned to nobody

[2020-02-03 14:35] #104 closed, assigned to nobody

[2020-02-03 14:35] #106 closed, assigned to nobody

[2020-02-03 14:40] #107 closed, assigned to nobody

[2020-02-04 22:23] Pillin commented on #110
hola @rodrigoAdones

Gracias, también espero que estés muy bien.

Lamentablemente, voy a desistir. En otra ocasión =).

Saludos!

[2020-02-04 23:21] daslaf opened #111 "Programación funcional 101 en JavaScript"
## ¿Qué tipo de presentación quieres hacer?

- [x] Keynote (20 a 30 minutos)
- [ ] Lightning Talk (+- 5 minutos)
- [ ] Avisos de trabajo / comunidades / actividades / ETC.

## ¿Cuál es tu nombre?
Osman Cea

## ¿Cuál es el título de tu charla?
Programación funcional 101 en JavaScript

## Danos una descripción de tu charla (20 palabras)
Esta charla es una introducción a conceptos de programación fun

[2020-02-05 12:20] rodrigoAdones commented on #111
Hola @daslaf!!

Espero estes bien

Gracias por interesarte en dar una charla en el meetup de Noders

Crees poder presentar el jueves 20 de Febrero? Quedamos atentos para confirmar.

Saludos

[2020-02-05 12:23] rodrigoAdones commented on #110
Ok @Pillin sera en otra ocasión

Quedo con la duda... dejamos abierto esta keynote y te puedo seguir contactando? o quieres abrir otro mas adelante con un nuevo tema?

Saludos.

[2020-02-05 13:45] daslaf commented on #111
Hola @rodrigoAdones

Sí, no hay problema para el Jueves 20. Saludos.

[2020-02-06 14:56] rodrigoAdones commented on #111
Genial @daslaf!!

Muchas gracias, pronto empezaremos la promoción del evento

Saludos.

[2020-02-10 13:16] alelepd opened #112 "Diseñando con 3D en la web, en realtime (idea para Keynote)"
## ¿Qué tipo de presentación quieres hacer?

- [✅] Keynote (20 a 30 minutos)
- [ ] Lightning Talk (+- 5 minutos)
- [ ] Avisos de trabajo / comunidades / actividades / ETC.

## ¿Cuál es tu nombre?
- Alejandro León

## ¿Cuál es el título de tu charla?
- "Diseñando con 3D en la web, en realtime"

## Danos una descripción de tu charla (20 palabras)
- Un poco de historia respecto a gráficos por ordenad

[2020-02-10 14:18] rodrigoAdones commented on #112
Hola @alelepd!!

Muchas gracias por interesarte en dar una charla en el meetup de Noders

Crees poder presentar el jueves 20 de Febrero? Quedamos atentos a tu respuesta

Saludos

[2020-02-10 14:50] labormedia opened #113 ""NLP con NodeJS, una introducción" - Lightning Talk"
## ¿Qué tipo de presentación quieres hacer?

- [ ] Keynote (20 a 30 minutos)
- [X] Lightning Talk (+- 5 minutos)
- [ ] Avisos de trabajo / comunidades / actividades / ETC.

## ¿Cuál es tu nombre?
Diego Correa Tristain

## ¿Cuál es el título de tu charla?

## Danos una descripción de tu charla (20 palabras)

Mostraré una rápida implementación de NLP con word2vec para encontrar campos semánticos a d

[2020-02-10 15:02] alelepd commented on #112
Hola! @rodrigoAdones Si podré!

[2020-02-10 15:17] rodrigoAdones commented on #112
Buenísimo!!

Gracias @alelepd, nos vemos el jueves 20 entonces :)

Saludos

[2020-02-10 15:26] alelepd commented on #112
Gracias a ustedes @rodrigoAdones !

[2020-02-20 01:42] patrickdugan opened #114 "Trabajar en Start-up Hedge Fund de Bitcoin Derivatives"
[x ] Avisos de trabajo / comunidades / actividades / ETC.

## ¿Cuál es tu nombre?
Patrick Dugan

## ¿Cuál es el título de tu charla?
Busco Dev .js para encender Incahuasi Capital

## Danos una descripción de tu charla (20 palabras)
Tengo experiencia haciendo algos para cambiar BTC Swaps y Futuros desde 2015, manejo OmniLayer Foundation y despues fundio TradeLayer. Ahora estoy empezando un Hedge Fu

[2020-02-23 22:20] Pillin commented on #110
@rodrigoAdones Mejor cerrarlo
Saludos

[2020-02-23 22:44] rodrigoAdones commented on #110
Ok @Pillin

Gracias una vez mas, ojalá puedas acompañarnos en un proximo meetup con una charla

Saludos, que estes bien

[2020-02-23 22:44] #110 closed, assigned to nobody

[2020-02-24 13:16] daslaf commented on #111
Dejo las slides de la presentación. Saludos

https://docs.google.com/presentation/d/1Igoub1e9lq22Jho4hCOcDgtzjmw1gxvLMXevol_1BIQ/edit?usp=sharing

[2020-02-24 13:16] #111 closed, assigned to nobody

[2020-02-24 13:18] rodrigoAdones commented on #111
Gracias por compartir las slides @daslaf!!

Un honor haberte tenido nuevamente dando una charla en el meetup, estuvo muy interesante.

Saludos.

[2020-03-11 09:08] lporras opened #115 "Importando datos por medio de un CSV"
## ¿Qué tipo de presentación quieres hacer?

- [ ] Keynote (20 a 30 minutos)
- [x] Lightning Talk (+- 5 minutos)
- [x] Avisos de trabajo

## ¿Cuál es tu nombre?
Luis Alfredo Porras Páez

## ¿Cuál es el título de tu charla?
Importando datos con CSV

## Danos una descripción de tu charla (20 palabras)
Presentaré una implementación un enfoque que utilizamos para una carga masiva por medio de un archi

[2022-06-24 21:09] #115 closed, assigned to nobody

[2022-06-24 21:09] #109 closed, assigned to nobody